[2015-10-01 15:55] nightwolfz opened #1 "mobservable-react@0.1.8 wants mobservable@^0.6.9"
Could you please update so we can use it with mobservable 0.7.0 ?

Thanks!

[code]

[2015-10-01 17:54] mweststrate commented on #1
Just updated! 0.2.0 goes together with mobservable 0.7.0

[2015-10-01 17:54] #1 closed

[2015-10-08 18:52] mattruby opened #2 "Note that React must be loaded before moservables-react in included"
Please note that mobservable-react must be included after react.

[2015-10-08 21:20] mweststrate commented on #2
Hi Matt,

Can you describe in which case you did run into this issue? Did you manually include the scripts in your app, or did you use something like browserify or webpack?

[2015-10-08 21:47] mattruby commented on #2
I manually added the scripts.  I was getting the weirdest error message
just on react render. Going against the store direct would trigger
correctly.
On Oct 8, 2015 4:20 PM, "Michel Weststrate" <notifications@github.com>
wrote:

[2015-10-08 22:48] mweststrate commented on #2
Ok, thanks for the info! I'll add it to the notes and will check in the
script as well whether React is available.

On Thu, Oct 8, 2015 at 11:47 PM, mattruby <notifications@github.com> wrote:

[2015-10-10 19:38] mrjjwright opened #3 "React Native support"
Does this lib work with React Native?  If not, any idea what it would take to make it work?

[2015-10-10 19:48] mweststrate commented on #3
Hi John,

I didn't verify it myself yet, but several others confirmed that it works
with react native. Which makes sense since it doesn't rely on the DOM, just
on the normal react lifecycle events :).

On Sat, Oct 10, 2015 at 9:38 PM, John Wright <notifications@github.com>
wrote:

[2015-10-11 01:56] mrjjwright commented on #3
Thanks for the response. Yeah, I got it to work temporarily by simply changing `require("react")` with `require("react-native")` in the index.js for mobservable-react.   Not sure how the others did it.  Also, when a React Native component throws a non observable related error throws an error it shows up  in the red screen of death as a mobservable error obscuring the underlying error.  Of course c

[2015-10-11 03:16] mrjjwright opened #4 "Convert to simple object"
Hi I am storing an object in an mobservable store that represents a React `style` object so that I can update styles from within my app.  When I update it , e.g. change the `borderColor` and my React component re-renders nothing changes.  If I transfer the `style` props to a regular JS object manually it works.

`const theStyle = {...store.currentStyle}`

Any idea why?

[2015-10-11 14:28] mweststrate commented on #4
Hi,

Mobservable doesn't convert non-plain objects automatically, as that is considered to be the responsibility of the (constructor of) the object, as making the object observable could potentially interfere with the inner workings of the object.

However, using `mobservable.extendReactive` you can simply add additional properties to an existing object, like `mobservable.extendReactive(store.curr

[2015-10-11 14:32] mweststrate commented on #3
Good points, I will improve the dependency checks, to see whether either `react` or `react-native` is available. Version 1.0 (planned for next week) will no longer catch any errors inside render functions, so that should fix the issue of obscured errors.

[2015-10-11 15:21] mrjjwright commented on #4
Thanks so much, yeah I figured that out after a while.  This all sounds
awesome, so glad I found this library.

On Sun, Oct 11, 2015 at 8:28 AM, Michel Weststrate <notifications@github.com

[2015-10-11 16:10] #4 closed

[2015-10-11 18:51] #2 closed

[2015-10-11 18:52] mweststrate commented on #3
I've just published version 0.2.1, which tries to use either React or React-Native (whatever is available). Could you verify that this works as expected?

Thanks!

[2015-10-11 18:54] mweststrate commented on #3
Apologies, it should be 0.2.2.

[2015-10-11 19:42] mrjjwright commented on #3
That works thanks!

[2015-10-12 13:15] mweststrate commented on #3
The current setup gave issues with consumers that used webpack for building, so the proper way to use mobservable-react with react-native is now to require from `mobservable-react/native` instead of just `mobservable-react`.

[2015-10-12 13:18] mrjjwright commented on #3
Got it, that makes sense.

On Mon, Oct 12, 2015 at 7:15 AM, Michel Weststrate <notifications@github.com

[2015-10-12 13:29] #3 closed

[2015-10-14 05:59] kenotron opened #5 "(4,36): error TS2503: Cannot find namespace 'React'."
When using Typescript 1.6.2 with mobservable-react, I simply do this:

import {observer} from 'mobservable-react';

However, index.d.ts doesn't have a declaration of React available. So it would give this error:

(4,36): error TS2503: Cannot find namespace 'React'.

Perhaps you have a way to use TS with mobservable-react that isn't apparent?

[2015-10-14 06:13] mweststrate commented on #5
Hi,

You have to manually include the typings of the React package in your project, as available in the [public typings repo](https://github.com/borisyankov/DefinitelyTyped/tree/master/react) or through the tsd tool using `tsd install react --save`. If you refer it from one of your source files you should be OK.

This is a result of the limitation in TypeScript that it is not possible to ship (amb

[2015-10-14 19:06] kenotron commented on #5
Now, I do have an index.d.ts that has a /// <reference> block referencing react.d.ts. This is why I'm confused why this is happening.

Do you have an example set up where this works?

[2015-10-14 19:48] mweststrate commented on #5
Yes, you cannot avoid that, it is what typescript emits after compiling. We
usually strip those out using some sed script / patch / whatever. Which
then moves the responsibility of providing react.d.ts to the consumers of
the lib you might be building. It's sad, but it is the best typescript has
to offer atm for packages that don't ship with their own typings (as is the
case we many large libs lik

[2015-10-14 19:53] mweststrate commented on #5
If you don't care that much about the React typings, I think it might be possible to declare a minimal subset so that the compiler accepts the `mobservable-react` typings, something like:

[code]

Another workaround is to import mobservable-react untyped, like: `var mobservableReact = require('mobservable-react')`.

[2015-10-15 03:51] kenotron commented on #5
re: my comment - I actually did do what you said here:

"You have to manually include the typings of the React package in your project, as available in the public typings repo or through the tsd tool using tsd install react --save. If you refer it from one of your source files you should be OK"

and I'm still stuck with mobservable-react assuming that I have React defined somewhere. I currently us

[2015-10-15 04:51] kenotron commented on #5
The only way I can get around it is ignore types with:

let {observer} = require("mobservable-react");

This is sad though, because the whole point of including a index.d.ts is to be able to use it in a project.

[2015-10-15 06:48] mweststrate commented on #5
Our setup is currently like this:

[code]

and inside typings.d.ts:

```/// <reference path='../../typings/react/react-global.d.ts'/>```

If that still doesn't work, I'll setup a a reference Typescript / TSX / mobservable project

[2015-10-15 08:32] mweststrate commented on #5
I reproduced the issue on a fresh project that doesn't use the `react-global` typings. I've improved the typings accordingly in version 1.0.1 and created a ready-to-use repo for typescript here:

https://github.com/mweststrate/mobservable-react-typescript (based on @bvanreeven minimal typescript repo).

I hope that solves the issue!

[2015-10-15 15:08] kenotron commented on #5
Fixed!!! Thank you @mweststrate :) That was quick work!

[2015-10-15 15:08] #5 closed

[2015-10-27 13:50] damienleroux opened #6 "React 0.14"
Any plan to update mobservable-react to react 0.14?

I refer to:
[code]

Thank you

[2015-10-27 17:51] mweststrate commented on #6
Yup, so far I have been a bit reluctant to upgrade, since it is easier to
be forward compatible with 0.14 than backward compatible with 0.13, but
i'll upgrade later this week or next week anyway. Note that
mobservable-react should already work correctly with 0.14.

On Tue, Oct 27, 2015 at 2:50 PM, damienleroux <notifications@github.com>
wrote:

[2015-10-28 07:54] damienleroux commented on #6
I experienced this error in chromium console:
[code]

After [futher reserach](https://github.com/justmoon/node-extend/issues/31), I finally find out that it was my version of extend that was not up to date. I used 2.0 instead of 3.0.

Thank you for your previous answer

[2015-10-28 07:54] #6 closed

[2015-10-29 12:29] mweststrate commented on #6
Just published `mobservable-react@2.0.0` which uses React 0.14 instead of React 0.13.

[2015-11-24 21:17] capaj opened #7 "PropTypes are not checked on the component after calling observer(component) on it"
This sucks badly if you seriously use PropTypes.

I tried this on stateless component, but I think this bug might occur for normal components as well.

[2015-11-25 22:55] mweststrate commented on #7
We didn't use propTypes yet as we use typescript which infers the property types at compile time from the definitions. So thanks for this useful contribution! Just published it as version `2.0.1`.

I will add tests for it (after switching to tape & tape-run, the current jsdom setup is quite unreliable on different node environments), but normal components are not defined on the fly as is done for

[2015-11-25 22:55] #7 closed

[2015-12-02 13:55] ikido opened #9 "Error when unmounting component has componentWillMount() without componentWillUnmount() method defined"
Uncaught TypeError: Cannot read property 'forEach' of undefined

Error references to line 94 in `node_modules/mobservable-react/index.js`, that states

    this.__$mobDependencies.forEach(function(dep) {
        dep.setRefCount(-1);
    });

This happens when component has `@observer` decorator and has own `componentWillMount()` defined but does not have own `componentWillUnmount()`. Adding empty

[2015-12-02 14:30] mweststrate commented on #9
Thanks for reporting! Will look into it. Quick upfront question: does this also happen if the `@autobind` isn't applied (if you used that here as well)?

[2015-12-02 15:21] ikido commented on #9
You were right, removing `@autobind` decorator also fixes the issue. I'm using https://github.com/andreypopp/autobind-decorator for that, would I have to bind methods manually to make `mobservable-react` work correctly?

[2015-12-02 15:24] mweststrate commented on #9
I can imagine a few things: swap the order of `@autobind`  and `@observer`.

I don't autobind stuff, but for event handlers I just define initialized properties instead of functions so that you don't need binding:

e.g. instead of:

[code]

use:

[code]

[2015-12-02 15:44] ikido commented on #9
When using initialized properties I'm getting `forceUpdate` error mentioned in this issue: https://github.com/mweststrate/mobservable/issues/47

[2015-12-02 15:58] mweststrate commented on #9
Using jspm with hot reloading as well? Could you share a test setup somewhere?

[2015-12-03 12:29] mweststrate commented on #9
@ikido Were you able to make any progress on this issue? Is this also a problem without hot reloading?

[2015-12-03 13:14] ikido commented on #9
Not sure if it is problem with hot reloading — I'm using webpack + react-hot-loader, and I get `forceUpdate` bug when I need to unmount component and then mount it again. How should I debug this one? I think I'll have time during the weekend to play with it a bit more

[2015-12-03 14:04] mweststrate commented on #9
@ikido I think the easiest is to alter node_modules/mobservable-react/index.js with log statements in the different lifecycle methods, my best guess is that some of them aren't called during reloading, for example `componentWillMount` for the new instance, or `componentWillUnmount` for the old one.

[2015-12-16 02:38] thunderkid opened #12 "forceUpdate: Can only update a mounted or mounting component."
Hi. I'm getting the warning below in the console log.

My app has a table with a detail view next to it. The detail view shows the selected table row. The table also highlights the row under the mouse. As notifications arrive from the server, some items will disappear from the table. All this works fine, except for the warning.

I think it happens when the mouse is over the selected table row and

[2015-12-16 07:43] mweststrate commented on #12
Could you share the details of `setHighlightedId` and the `onMouseEnter`
event relevant for this issue?

On Wed, Dec 16, 2015 at 3:38 AM, thunderkid <notifications@github.com>
wrote:

[2015-12-16 18:23] thunderkid commented on #12
The `onMouseEnter` appears in my `TableRow` component:
[code]

And my `ViewModel` contains `setHighlightedId`. So basically.:
[code]

I've just tried to follow what I thought was the standard React/mobservable approach.

[2015-12-16 19:05] mweststrate commented on #12
Looks fine to me! Can you provide a simple reproduction? That would be convenient, otherwise I'll try myself to mimic the same setup.

[2015-12-16 19:27] thunderkid commented on #12
Well, it's currently running against a server to update the table. It polls
the server once per second, and during this update some elements may
disappear. So I'd have to write a setTimeout function that would update the
table once per second and remove random elements. If you need me to, I'll
try, but it will take a bit of fiddling around.

On Wed, Dec 16, 2015 at 11:13 AM, Michel Weststrate <
no

[2015-12-16 19:39] mweststrate commented on #12
Ok, I'll first try to reproduce it myself.

On Wed, Dec 16, 2015 at 8:37 PM, thunderkid <notifications@github.com>
wrote:

[2015-12-18 04:24] thunderkid commented on #12
Ok, I've finally managed to build a toy version of this problem (tested on Chrome 47.02526 and other close Chromes). Load this, open the console log, click 'Go!', and keep moving your mouse back and forth over the scrolling column. In the console log you'll see a bunch of forceUpdate() errors.

I believe this only happens when you have both the table and also the tablerow as @observable.

Please l

[2015-12-18 14:10] mweststrate commented on #12
Thanks! Tried to reproduce it myself but that didn't work so far, but I could reproduce it with your example so I'll investigate further.

[2015-12-18 14:12] mweststrate commented on #9
forceUpdate error might be a duplicate of: https://github.com/mweststrate/mobservable-react/issues/12

[2015-12-18 15:29] thunderkid opened #13 "Can't import a component with @observer"
I have the following (toy) component to use in a table:
[code]

I define it in the same module as my table, and use it in a table cell like this:
[code]
and everything works fine. However, if I move `ProgressPus` to a different tsx file and import it into the table file with `import {ProgressPus} from 'otherFIle'`, it now gives the error below. Should I be using a different syntax to import an @ob

[2015-12-18 15:48] mweststrate commented on #13
I think there should be an other error in your logs after this one? This error is a bit confusing, I'll remove it in a next version; it just indicates there was an exception somewhere in the render function itself which should be logged by the browser after this one.

Note that this error could come from both the table and the progress bar. The import is correct assuming that your export statement

[2015-12-18 15:52] mweststrate commented on #12
Could you verify whether version 2.1.1 fixes this issue?

[2015-12-18 15:56] thunderkid commented on #13
I'm using typescript. My export statement is just `export { ProgressPus }`. Is that not correct?

[2015-12-18 16:30] thunderkid commented on #13
My entire error log is this.
[errlog.zip](https://github.com/mweststrate/mobservable-react/files/66862/errlog.zip)

[2015-12-18 16:56] thunderkid commented on #12
Yes, this seems to fix the issue, both for my toy example and for my full app running against the server. Thank you!

[2015-12-18 16:57] #12 closed

[2015-12-18 18:23] mweststrate commented on #9
Hi @ikido

If this was still an issue, could you verify whether version 2.1.1 fixes it?

Thanks!

[2015-12-18 18:34] mweststrate commented on #13
I just try, both export approaches work, I've altered your other test project to demonstrate it. So I think either of your render methods is throwing another exception. Probably you can verify that by wrapping the contents of your render methods in `try .. catch` or by just returning `null`. Anyway here is your test project from #12 slightly altered. I exported the AnimalRow (I was too lazy to exp

[2015-12-18 19:44] thunderkid commented on #13
Yes, thanks. Now it works. My problem is that in the `ProgressPus` file I just had
[code]
The typescript compiler gave no errors, so I thought that was enough. However, I also needed
`import * as React from 'react';`

[2015-12-18 19:44] #13 closed

[2015-12-25 07:51] ikido commented on #9
version 2.1.1 fixes forceUpdate error, you can close this issue — problem was in autobind decorator which I got rid of in favor initialized properties, as you suggested

[2015-12-25 11:39] #9 closed

[2016-01-15 20:18] Kosta-Github opened #14 "how to pass a `store` down a nested component hierarchy?"
What is the best/recommended way to pass a `store` down a nested component hierarchy if I don't want to use a `global` object for that?

Is there something like the `<Provider store={myStore}>` mechanism from `react-redux`. I haven't found anything related to that neither in the docs nor in the test suite...

[2016-01-16 15:39] Kosta-Github commented on #14
Answering myself: OK, I'll go with explicitly passing the `store` on from component to component down the nested hierarchy...

[2016-01-16 15:39] #14 closed

[2016-01-16 16:09] Kosta-Github opened #15 "automatic tracking not working for nested objects?"
I took the sample code from the documentation [here](https://mweststrate.github.io/mobservable/intro/concepts.html) and modified it a bit to use an `object` instead of an `array` for the `todos` field:
[code]
Now the whole automatic tracking doesn't work anymore. The places marked with `-> should print: ...` do *not* print.

It I add another `print();` call at the end of the sample code it prints

[2016-01-16 16:11] Kosta-Github commented on #15
Ups, wrong project: moved the question over here: https://github.com/mweststrate/mobservable/issues/90

[2016-01-16 16:11] #15 closed

[2016-01-16 18:38] mweststrate commented on #14
Yeah, I always do that as well. You could (like redux connect) use React's context mechanism, but to me it makes it a bit obscure.

[2016-01-18 16:51] jjchula opened #16 "React-native project using mobservable-react"
Thank you for the Boilerplate projects. But they are for JSX or the web.
Would you provide a React-native project using mobservable-react or point me to a demo please?

[2016-01-18 19:02] mweststrate commented on #16
I didn't built a react-native project myself using mobservable, but I know there are some people on the gitter / reactiflux channel who did so probably you can ask around in these channels.

Besides that, integration mobservable with react native is really easy; just use the `@observer` decorator on your react native components instead of on JSX based components, that should be all. If you don't u

[2016-01-19 10:41] mweststrate opened #17 "Calling React.render(observerComponent) inside a transaction doesn't work"
check if inTransaction, if so, still force rendering?

[2016-01-20 02:08] jjchula commented on #16
I've tried but it didn't work.

"import observer from mobservable-react/native" and "export default observer(myComponent)" didn't make the trick. It ends up in different errors for different versions of react native. So I might miss something.

A working demo would greatly help.

[2016-01-20 07:24] mweststrate commented on #16
Note that it should be ..import {observer} from
"mobservable-react/native".. If that doesn't help I'm gonna try to find
somebody who uses it with native for you :)

On Wed, Jan 20, 2016 at 3:08 AM, jjchula <notifications@github.com> wrote:

[2016-01-20 17:06] jjchula commented on #16
Right! It's working now. Many thanks.

I was too lazy so I took the code from README.md. Noted the broken link.

## Installation
...
import observer from 'mobservable-react';
// - or -
import observer from 'mobservable-react/native';

This package provides the bindings for Mobservable and React. See the __broken link__ for how to get started.

[2016-01-20 18:38] #16 closed

[2016-01-20 18:38] mweststrate commented on #16
Ouch, that's really embarrassing. Fixed it. Thanks for reporting!

[2016-01-21 10:24] rafal87 opened #18 "Make shouldComponentUpdate optimalization optional"
There is a known issue https://github.com/facebook/react/issues/2517 when shouldComponentUpdate prevents rerendering children components depended on the context. It would be nice to make this optimalization optional for compatiblitiy with non reactive libs e.g react-router and it's Link component (applying active link style depends on the context).

[2016-01-26 06:32] rodryquintero opened #20 "Can stores return json objects and array directly?"
I am doing my first projecdt with Mobservable and I realized that data returned from the store is an observable.

I would like to have the store transform the data to a JSON object/array so that I don't have to call `.toJSON()` everytime.

[2016-01-26 09:20] mweststrate commented on #20
You can simply start by putting the `.toJSON()` in an autorun and triggering the action that need the json from there (like storing it on the server).

A bit more advanced and powerful approach is to combine `autorun` with `createTransformer` to create a json representation of your complete state which is always kept up to date, see the first example on: http://mweststrate.github.io/mobservable/re

[2016-01-26 17:20] mattruby opened #21 "React is updating a component multiple times when the observable is modified outside of react."
http://jsbin.com/gegagu/5/edit?js,output

In this example, you may click on the steps to activate them.  You'll see that the active step at the top is updating once per transaction change.  When you click the buttons below the steps, you'll see that the active step is updating multiple times.

[2016-01-28 14:53] mweststrate commented on #18
Hmm hard to form an opinion about it as the best practice seems to be in flux about this currently? Especially since they seem to want to move away from context in React-Router if I understand it correctly? Note that you can still implement your own `shouldComponentUpdate`.

But if there is no convenient way around this issue I can add an option for it. Do you have a suggested syntax?

[2016-01-29 09:01] Kosta-Github opened #22 "debugging aids?"
Are there some more debugging aids available hidden somewhere inside the code?

I would like to track down, why a `react` component doesn't get updated automatically although it displays an observable value. How would I track down the issue best?

I haven't managed to get a down-stripped version of my issue yet. The following is a small example that is very similar to my case, but this is working

[2016-01-29 09:16] mweststrate commented on #22
If you enable the transaction in the devtools log you should be able to see which individual observables are triggered and readied. It's not the most easy to read output but it might help if you study it closely.

Besides that, `mobservable.extras` contains some utilities to print the dependency / observer tree of an observable value. So you could do things in your code like

`console.log(mobserva

[2016-01-29 09:59] mweststrate commented on #21
Confirmed, the component is rendering twice; one time because the things it has observing is changed, and one time because it got changed props from its parent (`props.step`). Will investigate whether this double invalidation can be optimized away

[2016-01-29 11:20] mweststrate commented on #21
Ok implemented a solution for this, which will be part of the next major version of `mobservable-react`.

[2016-01-29 11:31] mweststrate commented on #18
OK, I took a closer look a the facebook issue and currently there seems now way to cleanly handle it, as it is not possible to detect context changes on components that don't use the context themselves, so `shouldComponentUpdate` cannot act properly on it out of the box. This all depends on https://github.com/facebook/react/pull/3973.

As mentioned in the original issue `react-router` is moving aw

[2016-01-29 11:58] Kosta-Github commented on #22
Yeah, these `extras` do help.

-------

Yes, I am using additional `HOCs` (for mapping app `state` to `props` (home grown solution) + `react-intl 2.x`). And these `HOCs` also use the [react `context` mechanism](https://facebook.github.io/react/docs/context.html) for passing data down the hierarchy.

I simplified my home-grown solution doing the `state-to-props` mapping to use a `stateless` renderi

[2016-01-29 11:58] #22 closed

[2016-01-29 12:24] Kosta-Github commented on #22
Sorry, but I need to reopen it again. My changes didn't solve the issue yet.

I still need to further investigate further this issue. It seems to be related to my `state-to-props` wrapper in between; but adding the `propTypes` to the basic component to be wrapped, solves the issue...

[2016-01-29 13:52] Kosta-Github commented on #22
OK, the issue was related to my own wrapping code.

Just for the record: I was using this simplistic wrapping scheme for wrapping a component `Component`:
[code]
But that doesn't work that well and some of the `observable` values were not tracked correctly/at all with respect to the wrapped `Component`, so I needed to make it a bit more sophisticated and make an explicit differentiation between st

[2016-01-29 17:27] rafal87 commented on #18
As a temporary solution I monkey patched `observer` function in such way that it adds a `shouldComponentUpdate` method returning `true` if it's not already defined on components class. Code below is ran before any other module requires `observer`. Note that it does not change `observer` behavior on components definied as pure functions but in my case it is ok.
[code]
In my specific issue problem w

[2016-01-29 21:52] mattruby commented on #21
Thanks!  Looks like an interesting fix.  Looks like it will skip the first render pass if another change is waiting behind it.

[2016-01-29 21:52] #21 closed

[2016-01-30 20:51] rodryquintero opened #24 "Component not updating after ajax call finishes"
I have a container component makes about 4 ajax calls after it loads. The calls shoudl update each view accordingly, but it doesn't.

It appears that render is not called when data is received from the server, because when I go to a different route and then come back to this container, the data does show in the view.

Perhaps a complete example of async actions would be helpful.

It is a lot of co

[2016-02-01 06:36] mweststrate commented on #24
Hi Rodry,

I see that you are using dynamically keyed objects. In these cases you have to use [mobservable.map](http://mweststrate.github.io/mobservable/refguide/map.html) because dynamic key assignments cannot be detected by Mobservable (until ES6 proxies are standardized). You could also store the connections as array and search each time for the connection with the correct id (e.g. `traceStore.

[2016-02-02 06:24] newuser opened #25 "Nested components observing store"
Is it ok to use nested components(routes) as observers, when using react-router or something else ? I decorated page with observer and got updates from store,  it worked fine for me.  Perhaps, there should be some sample or documentation notice about usage with react-router.

[2016-02-02 19:17] mweststrate commented on #25
Yup that should work fine afaik. (Didn't use react-router much personally, but I didn't hear any complaints from my collegues when combing it with mobservable).

[2016-02-12 11:30] lukaszgrolik opened #26 "Fix package.json - add dependencies: {}"
More info: https://github.com/voronianski/esnextbin/issues/12#issuecomment-183284575

[2016-02-12 11:51] #26 closed

[2016-02-12 11:51] mweststrate commented on #26
Fixed and released as version 2.1.4

[2016-02-15 22:14] bartonhammond opened #28 "Jest tests"
Anyone got Jest working?

[2016-02-16 06:25] mweststrate commented on #28
Personally didn't do anything significantly with tape yet, but I think you would at least need to avoid stubbing of the `mobservable` and `mobservable-react` packages to test anything useful?

[2016-02-16 14:01] bartonhammond commented on #28
I don't use Tape, but rather Jest, and I do have those packages called out not to not mock them automatically but I can't get a single test to run.  Not sure what the problem is at this time.

[2016-02-16 14:20] mweststrate commented on #28
Do you have a shareable branch somewhere? I can take a look

[2016-02-16 14:38] bartonhammond commented on #28
Just updated

* npm install
* npm test

[https://github.com/bartonhammond/mobservable-react-native-counter](https://github.com/bartonhammond/mobservable-react-native-counter)

[2016-02-16 14:48] mweststrate commented on #28
I saw that some other teams in our company have Jest / React / Mobservable tests, so it is possible at least :)

[2016-02-16 14:50] bartonhammond commented on #28
I've had nothing but trouble keeping my Jest tests working in my other
project - seems every release of RN breaks something.

Hopefully you find a team that can provide some insight

Thanks for looking at it.

On Tue, Feb 16, 2016 at 8:48 AM, Michel Weststrate <notifications@github.com

[2016-02-20 13:58] mweststrate opened #29 "`observer(component)` is not correctly recognized by typescript 1.8-beta"
[code]

[2016-02-22 17:52] mijay commented on #29
I have a similar issue. When I write the following (valid) code:
[code]
I get the following error on the second line:
[code]

After some juggling around, I've figured out that the problem is in the following line in your package typings:
[code]
If you remove the `void` case, everything works as expected.

Typescript 1.7.5, React 0.14

[2016-02-22 20:43] mweststrate commented on #29
I tried to reproduce this issue (see the above commit), however the above error didn't occur.

Does the test https://github.com/mweststrate/mobservable-react/blob/master/test/ts/compile-ts.tsx properly reproduce the issue? Feel free to amend.

Test can simply be run by cloning the repo and running `tsc -p test/ts`

[2016-02-22 20:45] mweststrate commented on #29
Maybe a different version of [react.d.ts](https://github.com/mweststrate/mobservable-react/blob/master/test/ts/react.d.ts)?

[2016-02-22 21:36] mweststrate commented on #28
Wow, Jest is a real horror to setup, I changed the setup a bit that got me at least beyond the initial "FAIL" I got without any further error when including components.

See: https://github.com/mweststrate/mobservable-react-native-counter/commit/76dba47625d0062e4f7fc652e1a4ba26ee48596f

The script preprocesser seems to fix it that at least the tests start when referring to a component. But after t

[2016-02-22 22:00] bartonhammond commented on #28
Rats!  Sorry to hear you didn't make any headway!  I had all my fingers and toes crossed.

The ReactJS Conf is going on now - I've been watching it.  They haven't mentioned Jest.  No surprise -it's the read headed step child.

Once I get my server stuff settled down I want to pick up the mobservable rewrite w/ my Snowflake/Redux app.  It would be nice to run tests.  Maybe by then I'll have some in

[2016-02-23 07:11] mijay commented on #29
Didn't have a time to double check it yet, but your tests are missing the case where I got an error:
[code]

[2016-02-23 07:26] mweststrate commented on #29
Tnx. That was the culprit indeed! Fixed and released as 2.1.5

[2016-02-26 07:53] adrianolaru opened #30 "Still not in npm"
Should I use `mobservable-react` with the `mobx` package for now?

**Update:** It seems that `mobx` package is not ready either. I will stick with `mobservable-*` packages.

[2016-02-28 17:43] #30 closed

[2016-02-29 17:20] alex-wilmer opened #31 "Modifying store prop triggers render, but modified value doesn't persist"
I am finding the behaviour to be rather inconsistent, and I think it may have something to do with react-router. I have store variables that when modified, trigger `render` with the modified values and my views do the right thing, but in some cases that I have not quite pinned down the reason, `render` gets called but the values in the store don't change. The following is an example of this

Here'

[2016-02-29 17:51] alex-wilmer commented on #31
If it's not clear from my question, I'd be willing to make a repo to demonstrate this behaviour.

[2016-02-29 20:02] mweststrate commented on #31
Hi @alex-wilmer I think I miss some context indeed, so a repo would be appreciated! I could imagine that disabling the line `this.context.router.replace("/")` might make a difference? Note that rendering in react doesn't happen (always) synchronously (in the same tick), so other actions might be triggered between the `logout` call and the `render`. Maybe a route is triggered that tries to login au

[2016-03-01 11:39] #29 closed

[2016-03-01 11:39] #28 closed

[2016-03-01 11:40] #25 closed

[2016-03-01 11:40] #24 closed

[2016-03-01 11:40] #20 closed

[2016-03-01 11:40] #18 closed

[2016-03-01 11:40] #17 closed

[2016-03-10 20:03] rickmed opened #32 "React stateless components and render calls"
As I understand it, when setState is called in react, the component's render method is called and the component and its children will update the vDOM tree so that reactDOM.render can diff (only that section of the tree) and patch it to the real DOM...

With stateless components wrapped in observer, since they don't have a render method, will reactDOM diff the whole vDOM?

[2016-03-10 20:26] mweststrate commented on #32
no, that work as expected as well, as long as you wrap sub components in (`@`)`observer` as well. They will still have the normal lifecycle for props etc.

[2016-03-10 20:34] rickmed commented on #32
@mweststrate awesome! thanks!

[2016-03-10 22:13] #32 closed

[2016-03-17 11:21] bkniffler opened #35 "React 15"
Hey,
Currently using mobx-react is not possible with react 15.
Could you either please update the peerDependencies or (better) merge https://github.com/mobxjs/mobx-react/pull/33?

[2016-03-17 12:01] mweststrate commented on #35
Sorry for the delay, somehow missed the notification :cry:

Just released as 3.0.3

[2016-03-17 12:01] #35 closed

[2016-03-27 17:00] neurosnap opened #36 "Destructuring the store"
Are there any issues with doing something like this:

[code]

[2016-03-27 20:33] mweststrate commented on #36
Yes, I recommend not doing this. There are few issues with this pattern:

1. computed properties won't be passed as those are non-enumerable
2. When using classes; I'm not sure whether prototype properties are passed, I think only the own properies are passed by the spread operator.
3. If your store contains primitive values, only the values will be passed, not the observable properties themselves

[2016-03-27 20:34] mweststrate commented on #31
Closing this issue for inactivity, feel free to re-open.

[2016-03-27 20:34] #31 closed

[2016-04-02 12:44] otbe opened #37 "Shared state for multiples instances of component"
Hi,

I have a little component that wraps a button and shows up a "Loading" text if you click the button.
Something like that:

[code]

Expected result: two buttons, If I click button 1 text changes to "Loading" and console logs "render,true"
Actual result: two buttons, If I click button 1 text of button 1 and button 2 changes to "Loading" and console logs "render,true" twice. If I click button 1

[2016-04-02 20:12] andykog commented on #37
@otbe, I've tested your example and it works exactly as you expect. Check this repo https://github.com/andykog/js-playground-mobx-react-shared-state-components.git (run `npm install && npm start`)

[2016-04-02 20:13] andykog commented on #37
@otbe I've tested your example and it works exactly as you expect. Check this repo: https://github.com/andykog/js-playground-mobx-react-shared-state-components (`npm install && npm start`)

[2016-04-02 21:14] otbe commented on #37
You are right. This works as expected.
I have played around for while with your repo and I can reproduce the error if I add "react-hot-loader" for HMR support to the webpack chain. Switched to "react-hare" babel preset for HMR.

So it seems not to be a bug within mobx :+1:

[2016-04-04 08:17] #37 closed

[2016-04-13 05:20] rickmed opened #39 "Component mounted on each observable array mutation"
EDIT: nevermind, my mistake using key badly. Can be closed

[2016-04-13 05:54] mweststrate commented on #39
Yes, since you use `Date.now()` as key :). components with the same key are
matched against each other, with different keys you always get different
components. If you would gave each card object an id field initialized with
query + Date.now() it would mostly work (you can stil have collisions).
Simplest solution is to give each card its own unique number by generating
an UUID or having a global c

[2016-04-13 06:22] rickmed commented on #39
@mweststrate yeap, silly mistakes like that makes you look elsewhere :). What do you mean by you can still have collisions?  (sorry I think this is off topic) In my specific case one user can't introduce an input exactly at the same time.

[2016-04-13 07:13] mweststrate commented on #39
ok then it should work :)

[2016-04-13 07:13] #39 closed

[2016-04-13 07:13] #36 closed

[2016-04-17 11:13] peterholdsworth opened #40 "mobx-react 3.0.4 breaks mobx-reactive2015-demo"
onCanvasClick (in canvas.js) is not invoked on mouse click. Works fine when I downgrade to mobx-react 3.0.3.

Here's my package versions:

node 4.2.2
npm 2.14.7

├── babel-core@5.8.38
├── babel-eslint@3.1.30
├── babel-loader@5.4.0
├── eslint@2.8.0
├── eslint-plugin-react@2.7.1
├── mobx@2.1.3
├── mobx-react@3.0.4
├── mobx-react-devtools@4.0.2
├── node-uuid@1.4.7
├── react@0.14.8
├── react-dom@0.14.

[2016-04-17 14:48] peterholdsworth commented on #40
On further investigation it appears not to be a problem with mobx-react level.

[2016-04-17 14:48] #40 closed

[2016-04-21 17:09] mgcrea opened #41 "Update README with babel plugin ordering"
Had a hard time today figuring out why a very simple mobx react sandbox app did not work.

Turned out that the issue was due to the order of babel plugins in my `.babelrc`.

`transform-decorators-legacy` has to appear first in the list, otherwise it will break with at least either `transform-function-bind` or `transform-class-properties` plugins if they defined before it, with the wrong orders, ob

[2016-04-21 17:33] mweststrate commented on #41
wow, never noticed that the order is relevant. thanks for reporting, I'll update it

[2016-04-22 09:46] mgcrea commented on #41
Maybe that's something that mobx could catch? (like if the class property decorator gets a function instead of an object/array ref), would be great to add a console warning if it can be safely catchable.

[2016-04-22 09:48] mweststrate commented on #41
good one, I'm gonna check whether it is detectable

[2016-04-27 17:28] Kasu opened #42 "Don't require react-dom"
I use a custom react renderer that is not targeting the DOM thus I don't have the `react-dom` package in my project at all. This ends up giving me this error:

[code]

Looking at `mobx-react/index.js` it doesn't look like `react-dom` is critical. How about making the package optional and permanently disabling your developer tools unless you have react-dom available?

A future improvement could be

[2016-04-27 17:46] mweststrate commented on #42
Cool :) Could you check whether `import {observer} from "mobx-react/native"` works for you? In React Native the DOM isn't available either, so in the native build the dependency is stripped out. I think there is nothing React Native specific in there, so it might work out of the box in your case.

[2016-04-27 17:47] #41 closed

[2016-04-27 18:07] Kasu commented on #42
That produces the same problem since it instead of `react-dom` requires `react-native`. Since I have a custom renderer, I have neither.

[code]

[2016-04-27 18:35] mweststrate commented on #42
Ok, I'll setup a "mobx-react/no-dom" build in the next few days. In the
meantime you could try testing with all the ReactDOM stuff stripped out (if
you didn't do that already). Shouldn't be that much.

Op wo 27 apr. 2016 om 20:07 schreef Kasper Sandin <notifications@github.com

[2016-04-27 23:58] Kasu commented on #42
What I did to work around it was to just add an empty module named "react-dom.js" to node_modules. After that mobx was able to run fine!

[2016-04-29 17:34] Nedlinin opened #43 "Rollup error: Module does not export observer"
Trying to work mobx-react into one of my projects but I'm having issues getting it to play nicely with Rollup.

     Error: Module c:\Users\cheath\Desktop\front-end\node_modules\mobx-react\index.js does not export observer

Trying to import the lib and decorate a class:

    ....
    import {observer} from "mobx-react";

    @observer
    class Header extends React.Component {
    ....

I can seem

[2016-04-30 12:05] mweststrate opened #45 "add typings for `mobx-react/native` and `mobx-react/custom`"

[2016-04-30 12:17] mweststrate commented on #42
I just pushed a patch to master. Would you mind testing it by cloning this repo and after that, in your own repo, run `npm install <checkoutpath>`, and use the `mobx-react/custom` as import.

[2016-04-30 12:18] mweststrate commented on #43
I just pushed a patch to master. Would you mind testing it by cloning this repo and after that, in your own repo, run `npm install <checkoutpath>`?

[2016-04-30 23:37] Nedlinin commented on #43
@mweststrate : This still causes the requirement of having to use:

    ....
    import * as MobX from "mobx-react";

    @MobX.default.observer
    class Header extends React.Component {
    ....

Which feels very clumsy to me.

What I ended up doing was rewriting part of the index.js file as an ES2016 input/export and running it through Babel to give me a CommonJS module which Rollup then handle

[2016-05-01 12:59] Kasu commented on #42
It works fine! Thanks for the quick support!

I'm not a big fan of patches though, but that's a question for another issue :). GG~

[2016-05-01 12:59] #42 closed

[2016-05-01 14:19] mweststrate commented on #43
Are you sure this isn't an issue in your rollup config? The module itself doesn't provide a default export, so it surprises me that you have to import it through the default. What where the changes you needed to make?

I like the current simple setup, as each exported file (`index`, `native` and `custom`) are now easily accessible from cdnjs script and node module imports.

[2016-05-01 15:16] Nedlinin commented on #43
I think it's actually a combination of things.

Firstly, Rollup sees the module is UMD is decides not to transpile it to AMD as UMD supports AMD.  This causes the output to contain the UMD block still:

    // UMD
        if (typeof define === 'function' && define.amd) {
            define('mobx-react', ['mobx', 'react', 'react-dom'], mrFactory);
        } else if (typeof exports === 'object') {

[2016-05-03 20:42] Diniden opened #47 "Maximum Stack Size Exceeded"
I made a simple application that has a store structured something like this:
[code]
All of that is observable. I then made a computed view of the table data:

[code]

I then fill the tableData with ~10000 items that contains data like:

[0, new Date(), "foo", "foo", "foo"]

and I render it out via:

[code]

Trying to change my sort column, I get this spewing out from mobx:

[code]

I understand 10

[2016-05-04 08:04] mweststrate commented on #47
@Diniden thanks for reporting, i'll take a look at it. Would you mind filing this issue again in the `mobx` repo?

[2016-05-04 15:05] Diniden commented on #47
Done

https://github.com/mobxjs/mobx/issues/236

[2016-05-04 16:50] #47 closed

[2016-05-05 12:02] luosong opened #49 "index.js should try catch in some method."
index.js
current patch function:
[code]
if  (1) or (2) throw exception then other observer component will no effect never!

I fix this issues when surround try catch:
[code]
another same issues in
[code]

[2016-05-05 19:01] mweststrate commented on #49
Can you elaborate a bit on why you would need this try / catching?

I think the interesting question is, why should the component succeed if an exception is thrown? The react docs don't give any indication that throwing from lifecycle methods is a supported scenario, and component behavior will be unpredictable (in my experience, react usually stops working after throwing). So catching errors will

[2016-05-06 00:39] maxs15 opened #50 "Prevent rendering"
Hey guys,

Is there currently any way to prevent rendering ?
I would need such a feature to optimize my server side rendering, let me explain how it works:

1/ I'm rendering my app in order to feed the stores (API call...)
2/ When all the stores are ready, I'm rendering my app a second time in order to get the final html
3/ I'm sending the html

With this feature I would be able to prevent the com

[2016-05-06 02:19] luosong commented on #49
Everything will be OK when a react component throw exception in rendering not use @observer.

[code]

[code]

[2016-05-06 14:17] mweststrate commented on #50
Sounds to me like a simple `if` statement in some root component that prevents children from being rendered until a certain condition is met? Or you can event postpone the SSR `React.render` in the first place until your stores are ready?

[2016-05-06 14:18] mweststrate commented on #49
I think you are right, I'm gonna test a bit to see what exactly React's default behavior is and mimic it.

[2016-05-06 14:44] maxs15 commented on #50
Thanks for your help @mweststrate 😃

I have to render my whole component three to let the components initialize and call the necessary store's methods.

I guess I could use shouldComponentUpdate in all my "smart components" using the @observer but I don't even think that mobx-react check the component shouldComponentUpdate result before doing his own business. (Am I right?)
Having a way to enable/

[2016-05-06 14:50] andykog commented on #50
We could call `shouldComponentUpdate` if it exists here https://github.com/mobxjs/mobx-react/blob/master/index.js#L53 and skip `forceUpdate` if it returns false.

[2016-05-06 15:27] mweststrate commented on #50
@andykog good point, that might make sense anyways. Or it might be confusing :) not entirely sure. Implementing should be pretty straight forward, although the _original_ shouldComponentUpdate should be used, as mobx [replaces it](https://github.com/mobxjs/mobx-react/blob/master/index.js#L175) with its own implementation

[2016-05-07 15:16] michshat opened #51 "React Native bindings when using router"
Really like what `mobx` is offering. Thank you for sharing.

My first attempt to try the `mobx` is integrating it with react native app that uses `react-native-router-flux`.  Can't seem to have binding working, pretty sure i am missing something:

**1. Router**
[code]

**2. Main component**
[code]

**3. The List component**
[code]

**4. The store**
[code]

Any idea?

[2016-05-07 16:55] michshat commented on #51
Interesting enough, it's working now - haven't made any change, except stepping out from the computer and getting back at it soon after - and then boom to surprise it's working.

I think restarting packager might did the trick.

Thanks again!

[2016-05-07 17:51] mweststrate commented on #51
You're welcome :)

[2016-05-07 17:51] #51 closed

[2016-05-09 08:35] tlvenn opened #52 "React should not be imported from react-native in RN 0.25+"
React and all components that belong to it are no longer provided by React Native (0.26) and it's deprecated in 0.25.X.

`import React from 'react-native' -> import React from 'react'`

[2016-05-10 05:38] mweststrate commented on #52
Thans for notifying. This means in the future it will be possible to use the generic `import {observer} from `mobx-react/custom` as well :) (the standard version has a dependency on the DOM, i'll investigate whether that could be factored out as well)

[2016-05-10 16:13] arahansen opened #53 "Built in support for connecting stores to components"
A common pattern I see arising is the need to connect a component to one or many mobx stores.

Currently, you need to write your own higher order component that will fetch these stores. While this isn't a monumental task in itself (as mobx makes this type of thing relatively straight forward), it would be great to have this feature built into mobx-react to promote a standardized method to accompli

[2016-05-13 15:01] hipertracker opened #54 "Windows: refusing to install mobx-react as a dependency of itself"
I can't install mobx-react on Windows 7 Enterprise SP1. I can install it on OS X but not on Windows.
[code]

npm-debug.log:

[code]

[2016-05-13 15:04] mweststrate commented on #54
for completeness sake, could you share your `dev-`, `peer-` and `dependencies` section of your own package.json?

[2016-05-13 16:05] hipertracker commented on #54
I found the source of that problem. I created a new folder and the package name as "mobx-react". It works on OS X but Windows got crazy.

[2016-05-13 16:05] #54 closed

[2016-05-13 16:07] mweststrate commented on #54
wow ok 😑

[2016-05-13 21:03] hipertracker commented on #54
Small update. OS X also get crazy when when the new package name is 'mobx-react'. I did not notice it because I used different name.

[2016-05-14 12:27] natew commented on #50
@mweststrate voting for keeping shouldComponentUpdate with it's original functionality (or at least providing an observer that respects manually written ones).

[2016-05-16 20:12] arahansen opened #55 "Alternative to forceUpdate"
React docs warn against using `forceUpdate` to update a component because it is not as efficient.
https://facebook.github.io/react/docs/component-api.html#forceupdate

mobx-react is using this API to react to observable changes: https://github.com/mobxjs/mobx-react/blob/master/index.js#L53

Would it be worth exploring alternatives to forceUpdate, such as forcing rerendering through something like

[2016-05-16 20:21] andykog commented on #55
@arahansen, `this.setState({})` would indeed result in rerendering, but then there is [no guarantee](https://facebook.github.io/react/docs/component-api.html), that it happens synchronously, so that mobx is able to derive reactive values, used during rendering.

[2016-05-16 20:25] mweststrate commented on #55
indeed, `forceUpdate` is used internally, but it is behind MobX own scheduling mechanism, which is even more optimal then Reacts own `setState` mechanism. So as a component developer you shouldn't use it, but it is a perfect low level primitive where libs like mobx-react can build upon

[2016-05-16 20:48] arahansen commented on #55
Interesting, I was not aware of this!

Do you have any related studies or information on how `forceUpdate` is a preferred primitive for building libraries?

[2016-05-16 21:06] mweststrate commented on #55
No, just testing / reading sources / reverse engineering. It is just that `setState`,  schedules, where `forceUpdate` executes. Sinces MobX already schedules, it is the better fit that avoids doing similar administration twice and avoids triggering unrelated lifecycle hooks. I hope that clarifies!

[2016-05-16 21:20] arahansen commented on #55
Yes, thanks for the explanation!

[2016-05-16 21:21] #55 closed

[2016-05-17 07:39] nikolovp opened #56 "propTypes definitions cause unneeded component updates"
Hi,

I have a store with an observable list of items. Each item has an id and an observable value.

In the react part I have a List component and a ListItem component. The ListItem component renders the item’s id and value. Next to the value there is a +1 button that increases the item’s value by 1.

The List and ListItem components are observers.

Without propTypes definitions everything is worki

[2016-05-18 20:21] sgoll commented on #56
I don't think you are doing anything wrong: React does prop type checking in the parent component (in order to output meaningful error messages such as "Check render() method of component X").

These prop type checks result in these observables being reported observed, i.e. they are added as extra dependencies of the _parent_ component (in addition to the child component).

I stumbled upon this is

[2016-05-22 17:47] mweststrate commented on #52
@tlvenn fixed and released as 3.2.0. Thanks for reporting.

[2016-05-22 17:47] #52 closed

[2016-05-22 19:21] th0r opened #58 "Add changelog"
Hi! Thanks for the great lib but it's very inconvenient to track changes between versions.
It would be great either to add `CHANGELOG.md` or attach this info to new [releases](https://github.com/mobxjs/mobx-react/releases).
Thanks!

[2016-05-22 19:22] th0r commented on #58
Ah, sorry, found it in the end of `README.md`.

[2016-05-22 19:22] #58 closed

[2016-05-23 02:58] tlvenn commented on #52
Thanks @mweststrate !

[2016-05-23 07:28] mweststrate commented on #58
you are right though, this is uncommon, I'll move the changelog to a seperate file.

[2016-06-01 01:15] mattruby commented on #56
Will this be an issue running the prod build of React?  I thought React only checks against the propTypes in dev mode?

[2016-06-01 19:55] gusev-p opened #61 "Redundant reevaluation of computed properties used by react components."
Hello!

mobx-react do not track dependencies between components contained in each other
so evaluations of computed props they use are not ordered by mobx stale/ready algorithm.
This means that mobx-react's forceUpdate of parent component can eventually
call render method of child component while it's used `@computed`'s are stale.

More precisely, suppose we have two components A and B where A uses

[2016-06-01 21:51] gusev-p commented on #61
Wrote this simple primitive

[code]

Using it instead of `@computed` props solves the problem. Is it ok conceptually?

[2016-06-02 04:37] mweststrate commented on #61
For the example in your first comment: Note that A and B usually render independently when MobX. So even when A renders before B, B renders only one as the `shouldComponentUpdate` usually prevents the render of B "because it is a child of A". The only exception to that is when assigning new props to B. But now that I think of it that case can maybe be optimized away as well :)

I think your `Obser

[2016-06-02 05:08] capaj commented on #61
@gusev-p so how would this be used?

[2016-06-02 08:04] gusev-p commented on #61
@capaj something like this:

[code]

[2016-06-02 08:11] gusev-p commented on #61
@mweststrate for some reason in my case forceUpdate on A always calls render on B ignoring shouldComponentUpdate on it although https://facebook.github.io/react/docs/component-api.html#forceupdate clearly states the opposite: _forceUpdate will trigger the normal lifecycle methods for child components, including the shouldComponentUpdate() method of each child._

[2016-06-02 15:09] mweststrate commented on #43
Doesn't seem to be a pressing issue for someone ATM. Otherwise feel free to reopen.

[2016-06-02 15:09] #43 closed

[2016-06-02 15:15] mweststrate commented on #49
@luosong I just ploughed through some issues in the React repo, and as far as I can see the behavior of what should happen when a component throws an exception from render or one of the life cycle hooks is actually quite undefined, up to any error boundary you introduce in a parent component. It just logs the error and they might be able to work after they, but it is, as far as I see, nowhere defi

[2016-06-02 15:15] #49 closed

[2016-06-06 08:03] mdebbar opened #62 "Is `autorun` equivalent to `componentWillReact`?"
I'm excited about MobX. I was able to reduce the code size significantly by switching from Redux to MobX. Thanks for the great library!

One of the things I usually need in my components is to do some logic whenever a certain prop has changed. Previously, I used to do **that logic** in `componentDidMount` and in `componentWillReceiveProps`. But now I have another source of data: MobX store. Change

[2016-06-06 13:02] thomas-jeepe opened #63 "Cannot read property 'render' of undefined"
So I was switching my project to typescript and in this process I got  `Cannot read property 'render' of undefined`.

After following the stack trace, I ended up in this [line.](https://github.com/mobxjs/mobx-react/blob/master/index.js#L151)

Debugging showed that `componentClass.prototype` was undefined, causing it to throw on trying to get a property on undefined. Changing the line to the below

[2016-06-07 13:47] #63 closed

[2016-06-07 13:49] mweststrate commented on #63
I just released `mobx-react@3.3.1`, could you verify whether this solves the issue? Spotted a potential error in the check indeed.

[2016-06-07 14:18] #45 closed

[2016-06-07 16:37] thomas-jeepe commented on #63
Just upgraded to 3.3.1 and it fixed it thanks a ton!

[2016-06-07 19:03] mweststrate commented on #62
Personally I find it quite naturally to react to prop changes. But so far I didn't need to react to other observables (besides rendering of course) in a component. Usually I put that kind of logic in a store / controller. Nonetheless the autorun solution is fine. Don't forget to dispose it on componentWillUnmount!

[2016-06-07 20:28] mdebbar commented on #62
Oh thanks for reminding me to dispose of the autorun. I completely forgot about that.

[2016-06-07 20:28] #62 closed

[2016-06-14 11:55] mweststrate commented on #56
See also https://github.com/mobxjs/mobx/issues/305

[2016-06-15 09:57] jamiewinder opened #64 "Usage with react-dnd"
I don't know if this is an 'issue' or just something to be aware of, but I've noticed that when `@observer` is used with the react-dnd`@dragSource` decorator (and potentially others) it is important that these are applied in the correct order:

[code]
If these are the other way around, then some of the optimizations that `@observer` gives us don't appear to be applied (in particular, the `shouldCo

[2016-06-17 11:17] kuuup commented on #53
Take a look at react-tunnel. It is inspired by redux and a great match for mobx.

[2016-06-20 05:01] lavrton commented on #50
Hi. This feature important for me too. My use case:
I have observer component `Shape`. This shape is drawing on a page in different places: in central canvas and in preview widget. Sometimes I have to update `Shape` very frequently. On canvas, a user needs to see real-time updates, but in preview widget, we can delay update (e.g. redraw only when the user finished drawing or only once per second).

[2016-06-20 06:02] mweststrate commented on #50
@lavrton: `observer`  will respect any manual written `shouldComponentUpdate`. However in your case I think I would create a copy of the shape to be previwed and only update that once in a while (for example using `autorunAsync`), that might result in less confusing code?

[2016-06-20 07:14] lavrton commented on #50
@mweststrate will it respect `shouldComponentUpdate`? Take a look into this demo:
https://jsfiddle.net/lavrton/wgumzdtq/2/
Am I missing something?
Can you make any suggestions on this demo?

I am happy to use `autorunAsync`. But I am not sure how to do it with `mobx-react`. Write high order wrapper by myself instead of using `mobx-react`?

[2016-06-20 15:21] mweststrate commented on #56
I think this can be circumvented by having mobx-react provide it's own `propTypes`, that leverage `mobx.untracked`, will investigate

[2016-06-21 06:13] mweststrate commented on #53
See pull request #65 , build `3.4.0-beta.1` can be used to test and give feedback on the new Provider mechanism. Docs: https://github.com/mobxjs/mobx-react/blob/provider/README.md#provider-experimental

[2016-06-22 06:46] pvasek opened #66 "Doesn't work in IE 10"
The reportRendering method use WeakMap which is not available in IE 10 and the method fails. Preparing simple PR for that.

[2016-06-22 08:00] EmilTholin opened #68 "Provider gives "TypeError: e.render is not a function" on ES5 component"
I wrote this very simple application:

[code]
Using ES5 syntax, I can write the IncrementButton component in the following ways:

[code]
If I move over to the newly implemented Provider, one of them works:

[code]

Version 2 gives rise to the following error:

[code]

I used the following [JS Bin](http://jsbin.com/kofisurali/1/edit?js,console,output), and I get the same error trying it on my own m

[2016-06-22 11:25] mweststrate commented on #68
Version 1 is correct, version 2 mixes `React.createClass` syntax with stateless function syntax, what you need in that case is:

[code]

[2016-06-22 11:35] EmilTholin commented on #68
That works great. Thank you.

I've stayed away from `createClass` since I read [Eric Elliot's blog post](https://medium.com/javascript-scene/baby-s-first-reaction-2103348eccdd#66e4) on the matter. I am just puzzled since it works without `createClass` when not using the provider in my first example. Do you think it is possible to make this use case work, or is it simply wrong on my part?

[2016-06-22 12:40] jmaguirrei opened #69 "As a much as it can Functional programming with React & Mobx"
I am building a collaborative app and I am wondering if it's possible to have almost just pure functions with React & Mobx, that means, no React State at all (only mobx state) and as few as possible lifecycle methods from React (for example to scroll to the bottom of a list when the component is mounted/updated).

The purpose? Avoid unnecessary use of classes and state, performance boost, cleaner

[2016-06-22 18:53] #66 closed

[2016-06-22 18:57] mweststrate commented on #68
Not sure, I'm not entirely sure whether the setup he is using is idiomatic react usage in the first place. I don't think I saw it somewhere in the official docs? (I only know the ES6 class / createClass / stateless function component approaches). Adding a fourth variant to declare components might just add confusion?

[2016-06-22 18:59] mweststrate commented on #64
@jamiewinder correct, `@observer` should be applied first (that is, the inner decorator, after all it is just fancyness for `dragSource(...)(observer(MyComponent))`. I think that is mentioned in the docs as well.

[2016-06-22 19:00] EmilTholin commented on #68
You are right. Eric uses that way of creating components quite a lot, but it is nowhere to be found in the docs, as you say. I will just start using `createClass` from here on out. No biggie! Thank you again.

[2016-06-22 19:00] #68 closed

[2016-06-22 19:17] mweststrate commented on #53
Released as 3.4.0!

[2016-06-22 19:19] #53 closed

[2016-06-23 20:23] dmi-dmi-dmi opened #70 "Prop validation throws a warning when used on a decorated component expecting store"
When I run the code below I get `Warning: Failed propType: Required prop 'store' was not specified in 'MobXStoreInjector'. Check the render method of 'Root'` warning in the browser console.

[code]

[2016-06-25 13:27] mweststrate commented on #70
Quick question, do you use Typescript or Babel for transpiling?

[2016-06-25 13:43] mweststrate commented on #69
@jmaguirrei for simplicity `mobx-react` turns the components into classes. Until react really provides benefits performance wise for real functional components this is the simplest approach code was.

I noticed that the only reason to write class-like components is often having local state. Sometimes also (async) processing in component will mount, but that can often be abstracted away to stores e

[2016-06-25 17:08] dmi-dmi-dmi commented on #70
Babel 6

[2016-06-25 20:37] capaj commented on #69
@mweststrate I like the idea. Only problem I have with it is this:

[code]

I would prefer for the signature to be:
[code]

Why? I simply never use context for anything in react. Why should I bother writing it out every time?

[2016-06-26 12:48] EmilTholin commented on #69
I really like how that looks, and I agree with the comment from @capaj above. Will there be any performance differences from creating a class, or will it just be sugar for the following:

[code]
If it is just sugar, it might be confusing to introduce another observer pattern, since the one above lets you e.g. scroll to bottom on componentDidMount as mentioned by @jmaguirrei

[2016-06-28 23:28] jmaguirrei commented on #69
@mweststrate

Questions:
1) That means that if React provides in the future better optimizations for stateless functional components, Mobx will no longer have to turn components into classes?
2) If not (still converting to classes), can we be confident there still be as performant as the new React optimization? (I know it's hard to say, but maybe you have an opinion)
3) Does Mobx implements its ow

[2016-06-30 18:30] prashaantt opened #71 "Provider doesn't seem to work in an isomorphic setting"
I use a static method (the typical `fetchData()`) in my components to load all the required data before rendering on the server. Using the `Provider` API no longer gives me access to that static method.

[2016-06-30 18:37] prashaantt commented on #71
To be more specific, the static method isn't available any longer if I use the `observer(["store"])` construct. Using `Provider` by itself isn't the real reason.

[2016-06-30 18:50] mattruby commented on #71
I think I can see what you're up against here.  The observer with store is calling createStoreInjector which calls React.createClass with the correct context settings.  You component is wrapped up in the render call of the wrapper.  Hmmmm...  Give me a few to look into what could be done to attach your statics to the wrapping component.  Can you think of anything other than statics that would need

[2016-06-30 20:09] mattruby commented on #71
@prashaantt Give my PR a look.  See if that fixes the issue with statics.

[2016-06-30 23:05] timdorr opened #73 "forceUpdate warning if component is unmounted by componentWillReact"
I was implementing some auth logic in my app and ran into some of the wonderful `forceUpdate` errors I'm sure you hate at this point.

The cause of this was my checking for authorization changes within `componentWillReact`, looking to see if I was now logged out/in and redirecting to/from the login screen. Basically, I had something like this in on my top-level `App` wrapper component:
[code]
(BTW

[2016-07-01 02:38] vinej opened #74 "mobx-react for Inferno"
I tried Inferno.js (a React clone) and it's compatible with mobx. As there is no 'mobx-inferno' package, I did a proof of concept to migrate 'mobx-react' to make it compatible with Inferno. It's working very well and there are not a lot of modifications to make it compatible with Inferno.
.
Do you think that you could create a 'mobx-inferno' offical package ?

Thank

[2016-07-01 06:15] prashaantt commented on #71
Thanks, this works perfectly!

I can't think of anything else for the moment that Provider should surface, but will surely report back if I do.

[2016-07-01 10:34] dacz opened #75 "Component not updated"
Having component

[code]

authorItem is observable class instance, that is updated asynchronously by different part of the app. First run displays "loading" (correct, no data still available). Then the item is updated, but the components is not (still shows "loading").

When I uncomment the line `const author = toJS(authorItem).data;`, the components starts updating correctly and correct data are

[2016-07-01 10:51] andykog commented on #75
It seems to work: https://jsfiddle.net/Sl1v3r/00djx9vd/

[2016-07-01 11:39] dacz commented on #75
ummm. Yes, it works, but unfortunately not in my real setup. Do you have any idea, what can I check? In real setup the higher component gets observable object (artworkItem) that contains reference to authorItem - another observable object from another store. The stores are defined as class instances.

The only idea what may be different than usual is the cross-referencing.

In the code below (this

[2016-07-01 11:56] dacz commented on #75
When I change `const author = authorItem.data;` in this component to `const author = toJS(authorItem).data;` … it starts working again as expected and even the console log shows that first time it runs with empty objects (data not yet available) and second time with all data and updates the <AuthorName> component.

Seems like until some mobx function (like toJS) is not imposed on authorItem, it wi

[2016-07-01 12:10] mweststrate commented on #75
There is nothing special about toJS, except that reads from all fields in your object. So it might be that toJS accesses a field which is changed later on, which triggers your rendering, but which is not the field you were expecting to react to. Did you try to use the MobX react devtools or `whyRun` to see what observables your app is subscribing to?

Also, is the property `data` of `authorItem` i

[2016-07-01 13:41] dacz commented on #75
Thanks @mweststrate for your insights. I'll try mobx devtools and I wasn't aware of whyRun.

The Item are defined:

[code]

`artworkItem` and `authorItem` are instances of this class (but different stores). `artworkItem.data.author` contains reference to authorItem from different store.

So when first required eg. `authorItem`, it creates dummy/empty item with ts, status and data just `{_id: id}`.

[2016-07-01 14:17] dacz commented on #75
my `ListItem` beginning:

[code]

the `whyRun` tells me:

[code]

`isObservable(author)` is true.

Still not updating...

[2016-07-01 15:04] dacz commented on #75
Seems like `ListItem` is not run again when author data arrives.

Even when I pass the `author` (observable) to the `AuthorName` component as a prop, check in the `AuthorName` component that author is observable and dereference it there, still the `AuthorName` component is not updating.

I'd suppose that the `ListItem` would update the `AuthorName` component (if the values are passed as props and

[2016-07-01 19:51] mweststrate commented on #75
Hi David,

I usually try to answer to these kind of questions asap, but currently I'm
in the middle of preparing an unexpected conference talk, so I'll come back
to you next week. Sorry for the inconvenience in the mean time!

Op vr 1 jul. 2016 om 17:04 schreef David Cizek <notifications@github.com>:

[2016-07-02 08:33] dacz commented on #75
No problem at all, Michel! No inconvenience at all.

I saw in another thread that you will have speech… good luck with it| MobX is great and I believe that it will spread like a fire. It should.

Thank you.

[2016-07-04 23:21] RishabhJain96 opened #76 "Provider - this.context.mobxStores undefined"
I am using a Provider with react-router and am running into the following issue:

I am using the Provider in a react-router application similar to here: https://github.com/kuuup/mobx-ssr-example/blob/master/src/client/index.js. Further inspection reveals that this.context.mobxstores is undefined.

[2016-07-05 05:09] jtraub commented on #70
I've stumbled across this problem today.

As far as I understand it is not a bug at all.

If you read [decorator proposal](https://github.com/wycats/javascript-decorators) it will become clear that

[code]
is equivalent to

[code]

At this line
[code]
we are attaching propTypes object to `MobXStoreInjector` instead of `MyComponent`. Hence, we get warning from React regarding required store prop: i

[2016-07-05 06:18] jtraub commented on #70
Solution could be addition of code which will be passing propTypes to decorated component.

Something like this

[code]
[here](https://github.com/mobxjs/mobx-react/blob/master/index.js#L298).

I just did a quick hack and it seems to work for me. According to [MDN](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty#Browser_compatibility) `definePrope

[2016-07-05 19:05] jamiewinder commented on #64
Just an update on this - I'm pretty sure using observer([stores]) with react-dnd causes further issues - specifically the injected stores aren't available to the react-dnd functions.

[code]
Swapping the decorators around fixes this, but causes the original issue.

Hope the example is enough? Let me know if you need more details.

[2016-07-06 12:49] jamiewinder opened #77 "@observer(['store props']) not available to react-dnd"
I had posted this as a comment in #64 , but I think it may be an issue in its own right rather than a question of usage.

When using `@observer([stores])` with react-dnd, the injected props aren't available to the react-dnd functions.

[code]
Swapping the decorators around fixes this, but causes `@observer` to have no effect other than the props injection.

Let me know if any more details are need

[2016-07-06 14:53] jtraub commented on #77
@jamiewinder would you mind attaching a minimal example which reproduces the problem?

[2016-07-06 15:55] jamiewinder commented on #77
@jtraub - Here you are:

http://codepen.io/jamiewinder/pen/PzKPko?editors=1010

At you can see on the rendered component, the appState is reaching the component during rendering. However, if you begin dragging the text, you'll get an alert ('appState is undefined, ticks is *x*').

If you swap the decorators around on `TestComponent` and try again, you'll get the expected alert ('appState is 123, t

[2016-07-06 16:21] jtraub commented on #77
@jamiewinder http://jsbin.com/yayuzedusi/edit?js,output

Add another observer on top or use something else (`react-tunnel` for example) to pass `appState` to the component which is produced after `DragSource` was applied.

[2016-07-06 16:28] jtraub commented on #77
Note: I do not have react-dnd experience at all.

As far as I understood `beginDrag` will be called when dragging starts. The function will receive props which were passed to the component produced by `let TestComponent = DragSource('test', dragSourceSpec, dragSourceCollect)(observer(['appState'])(TestComponent))` call.

This component receives only `clock` prop (see render method of `TestApp`.

[2016-07-06 16:44] jamiewinder commented on #77
Thanks, I just stumbled on the same workaround! I think you're probably right in your guess at what the cause is, but I'm not sure what needs to be done about it. I go with the workaround for now.

[2016-07-06 17:10] jtraub commented on #77
It is expected HOC behavior and it is documented in `README.md`

In your case _decorated component_ is `class TestComponent ..`. `observer` provides `appStore` to this component.

I would recommend you to install React Developer Tools and see an actual component hierarchy in your example to better understand how several decorators are applied to a component.

[2016-07-06 17:56] jamiewinder commented on #77
It might be expected, but applying the same decorator twice is a bit strange. It feels a bit like `@observer` is perhaps doing double duties - providing stores, *and* making the component reactive? The following may be a little more clear?

[code]

That said, I'm not sure there are many other situations where you'd want to `@provide` something to a non-reactive component, so I can see why it was a

[2016-07-07 07:57] jtraub commented on #77
Technically it is quite easy to provide a separate decorator `inject` or `provide`.

Mobx-react already has [such decorator](https://github.com/mobxjs/mobx-react/blob/master/index.js#L280) which is used internally.

Given, that all you need to do is to export this function under an appropriate name, It would be great to have this feature.

[2016-07-07 08:16] mweststrate commented on #77
@jtraub yes I think you are right. I think we should export a separate `inject` or `connect` HoC, (and keep the current `observer(["fluff"])` as convenience?). I'll try to update this coming weekend (unless anybody else beats me to it ;-)).

[2016-07-07 14:30] jtraub commented on #70
It seems that other HOCs do not pass `propTypes` to decorated components. People overcome this by defining `propTypes` as static property in component classes. [Random example](https://github.com/erikras/react-redux-universal-hot-example/blob/3e8453dba635c5792dc2ab61406bbe9545328b25/src/containers/App/App.js#L30).

Drawbacks of such approach:
1) it relies on stage-1 proposal (but decorators itself

[2016-07-07 15:26] ifokeev opened #79 "@observer and mobx-store"
nevermind

[2016-07-08 02:23] vinej commented on #74
This is not needed, because with the 'inferno-compat' module, mobx-react is compatible with Inferno

Thanks

[2016-07-10 18:26] #74 closed

[2016-07-10 18:27] #79 closed

[2016-07-10 18:43] mweststrate commented on #64
Closing this issue in favor of #77

[2016-07-10 18:43] #64 closed

[2016-07-10 18:44] mweststrate commented on #77
See also:  #70

[2016-07-11 18:40] mweststrate commented on #70
@dmi-dmi-dmi / @jtraub sorry for the late response, was searching for a while in the wrong direction for this. I think the simplest way to fix this is is to store the inner component in a temporarily var so that you can still access it:

[code]

[2016-07-11 19:11] mweststrate commented on #70
Next release will introduce `inject` and `wrappedComponent` property, which would result in the following:

[code]

[2016-07-11 19:14] #76 closed

[2016-07-11 19:44] mweststrate commented on #75
I just looked through your code briefly. Is there a specific reason that you use `extendObservable` instead of assigning a new object to observable? Note that MobX will not react to introducing new properties to existing objects, see: https://github.com/mobxjs/mobx/blob/gh-pages/docs/best/react.md#incorrect-using-not-yet-existing-observable-object-properties. But since your data object doesn't rea

[2016-07-11 19:54] dacz commented on #75
It's true that the data now are either empty or loaded. But the project will introduce the create/edit/save capability of new artworks and I plan to use the same code.

I'll look into asMap more deeply. Thanks for your time!

[2016-07-11 19:54] #75 closed

[2016-07-11 20:15] mweststrate commented on #50
Investigated this issue. `shouldComponentUpdate` is respected, but only for `setState` or newly passed in props. It is *not* respected when observables used in `render` are changed. This breaks fundamentally with the philosophy of MobX that derivations and state should be kept consistent with the state at all times.

If you don't want components to be rerendered, this should be expressed in the st

[2016-07-11 20:32] mweststrate commented on #77
Just released 3.5.0, which separates `inject` from `observer`. That should provide the tools to fix the above issue.  Should not be possible to solve this as follows:

[code]

[2016-07-11 20:35] mweststrate commented on #71
@prashaantt didn't merge the proposed PR. I think it is a bit fuzzy and unidiomatic. It is better to either separate the inner and higher order component. Also the original component is now available on the higher order component as `.wrappedComponent`. If anything is unclear, feel free to re-open this issue.

[2016-07-11 20:35] #71 closed

[2016-07-11 20:36] #77 closed

[2016-07-11 20:39] mweststrate commented on #70
Released as 3.5.0. Feel free to re-open if anything is unclear

[2016-07-11 20:39] #70 closed

[2016-07-11 20:39] #50 closed

[2016-07-11 21:23] prashaantt opened #80 "Question about `otherProps` in 3.5.0"
From the README:

[code]

I was unable to get any props other than those directly injected (`userStore`) to pass through (e.g. `otherProp`). Adding `otherProp` inside `inject` fixes this, but must I now rewrite all other props as such? Is this by design or a bug?

[2016-07-11 21:33] prashaantt commented on #71
@mweststrate The good thing is, I'm not sure if you intended it but I now have access to my `fetchData` inside the `wrappedComponent` all right!

[2016-07-11 21:34] mweststrate commented on #80
p props are passed in a second arg. use destructuring or object.assign to
easily pass them on

Op ma 11 jul. 2016 23:23 schreef Prashant Tiwari <notifications@github.com>:

[2016-07-11 21:45] mattruby commented on #71
@prashaantt pretty sure that was @mweststrate 's intent.  His wrappedComponent is the better way to go.

[2016-07-11 22:24] prashaantt commented on #80
Got it, thanks. If you'd like, I could send a PR to clarify this in the doc.

[2016-07-12 05:13] mweststrate commented on #80
I definitely like that :) Always feel free to improve docs!

Op di 12 jul. 2016 om 00:24 schreef Prashant Tiwari <
notifications@github.com>:

[2016-07-12 05:15] mweststrate commented on #73
Hi Tim,

Version `3.5.0` should solve this issue, it checks for unmounted state first before calling `forceUpdate`.

[2016-07-12 09:18] mweststrate commented on #61
@gusev-p apologies for the late response. Can you share your components A and B? What might happen is that keys are not setup, or that you pass new closures as callback to the child each time the parent is rendered. This might cause unexpected renderings on the child. The child then re-renders because the props have changed unintentionally.

[2016-07-12 09:27] mweststrate commented on #69
@jmaguirrei

1) depends much on the lifecycle behavior of these 'optimizations'. stateless function components never change, except when their props change(?). On the other hand observer components need to change if its observables change. But changing props is less likely from them (because with stateless function components the parent needs to rerender to pass in new props, which isn't the case

[2016-07-12 16:16] timdorr commented on #73
Yep, that did it! Thanks for looking into and fixing this, @mweststrate!

[2016-07-12 21:11] ryanatkn commented on #80
After converting some code over to use the new inject decorator I found that I would prefer a slightly different API, one that would behave as @prashaantt expected. I was also confused by the behavior until I read the code. What do you think of making the function passed to `inject` return an object that is merged into the props, rather than return the new props? This is how the Redux `@connect` d

[2016-07-12 21:27] prashaantt commented on #80
@ryanatkn I agree, I think this would be a better design. Having to copy each prop inside the `inject` feels a little non-standard and couples the code very tightly to MobX.

In fact, your first solution was the earlier default behaviour (props > injected), and could be left intact in an improved `inject` that automatically copies over the parent props, while the flexibility to override that behav

[2016-07-12 21:34] prashaantt commented on #80
Although one could argue that the other API for inject: `inject(...varargs)` achieves the same result, and I had begun to favour that for its much less verbosity.

The other thing I would really like to have is some way to make the store names more type-safe, something like `inject(userStore: IUserStore, postStore: IPostStore)`.

[2016-07-13 01:38] jtraub opened #81 "Test fails when using react 15.2"
[This test](https://github.com/mobxjs/mobx-react/blob/master/test/stateless.js#L59) fails with React 15.2

It happens, because react developers have moved prop type checking into a separate module and changed warning message. See code and tests in [this commit](https://github.com/facebook/react/commit/db6ac5c01c4ad669db7ca264bc81ae5b3d6dfa01#diff-3880dca4310861f22ddb922f11a056fa)

[2016-07-13 05:42] natew opened #83 "Allow errors to throw"
Searched around a bit for this so if anything hopefully this is helpful as documentation.

Wondering why mobx catches and shows a warning on errors:

[code]

We use a few libraries in our stack, three of which trigger "fake" exceptions on startup. Beyond that, the warnings here remove all stack trace.

So the process for debugging becomes extremely tedious. It goes from clicking a stack trace, to

[2016-07-13 07:51] #81 closed

[2016-07-13 11:21] mweststrate commented on #83
Hi @natew, in principle this should not make a difference in debugging, this message is not a catch but a finally, basically:

[code]

Note that in chrome at least you can blackbox scripts which can be a huge help to filter out unrelevant exceptions. But hitting "break on exception" should bring you at a proper that should be fixed. MobX at least will not track functions that throw exceptions so b

[2016-07-13 11:25] andykog commented on #83
I think using `console.warn` instad of `console.error` might help. Because people can simply not notice actual thrown error under `console.error` message.

[2016-07-13 14:55] mweststrate commented on #83
@andykog changed it two weeks ago to warnings indeed, so that should be case already in the latest versions.

[2016-07-13 16:57] ifokeev opened #84 "Can't pass store for two components"
I have this DOM structure. I have a Provider with a store ```mobx-store```
![Error](https://cldup.com/Ncj_5R839a.png)

I can't access the store in two components in the same time.
Now I can't access the store in Sidebar. I got: ```Uncaught Error: MobX observer: Store 'store' is not available! Make sure it is provided by some Provider```

I have no idea how to fix it. I though it was because of Tic

[2016-07-13 17:13] ifokeev commented on #84
I found that it's because of:
[code]

I think we should update docs to caution users.

[2016-07-13 18:24] jeffgran opened #85 "v3.5.0 breaks reactive render"
Had a production bug come in yesterday that "the page doesn't update when I click x button".

I finally tracked down the change that broke our functionality:

[code]

If I delete the `if` conditional and always update, my code works again.

I know this isn't a very good bug report, with no specific means to reproduce. But wanted to get a discussion started. I have reverted to 3.4.0 in production f

[2016-07-13 20:03] mweststrate commented on #85
@jeffgran That's nasty! Apologies, breaking stuff is never the intention, so try to maintain an extensive suite with exotic edge cases. If you would be able to pin point yours that would be awesome!

Which react version are you using? Did you by any chance see this warning passing by in the logs of the working version?
[code]

[2016-07-13 20:25] jeffgran commented on #85
No, I don't get that error in the working case.

I am trying to reproduce in a minimal case, but no luck yet.

In my real code, I am able to switch back and forth and see it working/not working. It seems like it has to do with the `this.render` and `initialRender`, which runs once, and then assigns `reactiveRender` to `this.render`. So `initalRender` only gets called once. If, in that initial (onl

[2016-07-13 20:33] jeffgran commented on #85
Also, forgot to answer you: react version 0.14.8 -- 90% sure I tried with 15.x yesterday and that didn't work either.

[2016-07-13 20:35] mweststrate commented on #85
@jeffgran could you test whether either `mobx-react@3.5.0-fix85`  or `mobx-react@3.5.0-fix85-2` fixes the issue?

[2016-07-13 20:44] jeffgran commented on #85
Yes! Commit[0d9f567](https://github.com/mobxjs/mobx-react/commit/0d9f5670ceb4a6ed769c2985895f27c41385ca2e) fixes it for me.

I guess it was caused by something in my constructor triggering an update before the thing was even mounted?

[2016-07-13 20:49] mweststrate commented on #85
yep i think so.  but that is hard to find in a real project. did the second
version also fix it? that has a nice patch but didn't commit it yet. will
release definitive fix tomorrow

Op wo 13 jul. 2016 22:44 schreef jeffgran <notifications@github.com>:

[2016-07-13 20:52] mweststrate commented on #73
@timdorr there is a regression bug with this change.  would you mind testing whether either mobx-react@3.5.0-fix85 or mobx-react@3.5.0-fix85-2 also fixes the issue? regression: #85

[2016-07-13 20:55] jeffgran commented on #85
Yes, v3.5.0-fix85-2 does work as well.

Thanks again for all your work on mobx and for the quick response on this. Very much appreciated.

[2016-07-14 05:33] mweststrate commented on #73
Hmm actually I am wondering whether `componentWillReact` should be allowed to have side effects in the first place. It is kinda part of the render lifecycle itself. Would an `autorun` / `when` not be a nicer solution? That doesn't even need to be in a component at all. Or it could be setup in `componentWillMount` which feels like a more appropriate place:.

[code]

This no longer changes the routi

[2016-07-14 06:13] mweststrate commented on #85
Just released `3.5.1`. That should fix the issue!

[2016-07-14 06:13] #85 closed

[2016-07-14 06:38] jtraub commented on #84
It is related to #70.

I have put a warning into local mobx-react copy to catch such cases in the existing codebase.

[2016-07-14 06:48] jtraub commented on #84
@ifokeev as a side note I would recommend you to use [`withRouter` HOC](https://github.com/reactjs/react-router/blob/master/docs/API.md#withroutercomponent) instead of manual receiving router from context.

[Recent post](https://facebook.github.io/react/blog/2016/07/13/mixins-considered-harmful.html#context) by Dan Abramov partially addresses this

[2016-07-14 10:09] ifokeev commented on #84
@jtraub thank you for your advice. I will use ```withRouter``` instead of ```contextTypes```.
Issue is resolved.

[2016-07-14 10:09] #84 closed

[2016-07-14 15:23] timdorr commented on #73
Ah, I didn't know about `when`. Still learning the API surface.

The only reason I didn't use `autorun`/`when` is I don't know how to cancel that observer when my component unmounts. It's similar to one of my dropdown components, where I start to watch for document clicks when the component mounts and remove that listener when it unmounts. Can you do cleanup of these listeners?

[2016-07-14 15:26] mweststrate commented on #73
yes both return a function to clean up

Op do 14 jul. 2016 17:23 schreef Tim Dorr <notifications@github.com>:

[2016-07-14 16:17] timdorr commented on #73
That's what wasn't clear. I'll see about a PR for some docs improvements around that.

In that case, I would create `componentWillReact` like `componentWillUpdate` and require any side effects/state changes to be avoided there.

[2016-07-14 18:43] jeffgran commented on #85
👍

[2016-07-14 21:03] mweststrate commented on #84
@jtraub could you share how you did setup the warning?

[2016-07-16 06:26] jtraub commented on #84
@mweststrate Sure. I use this code - https://github.com/jtraub/mobx-react/commit/bd83fccb8e4c496f96ab6e3a6a38432376b91a56

It produces
![image](https://cloud.githubusercontent.com/assets/153191/16893123/bfbabdfa-4b71-11e6-9cc6-e057017988de.png)

for code
[code]

If you want I can simply add a few tests and send it to you.

[2016-07-16 06:58] mweststrate commented on #84
@jtraub that is really nice! PR would be appreciated :)

[2016-07-16 07:00] mweststrate commented on #80
@ryanatkn @prashaantt I agree, this is a bit unexpected. I'll change it in the next version.

@prashaantt not sure how to make it strong types as you proposes, because we are on the call site and not on the definition side of things?

[2016-07-16 07:02] mweststrate commented on #80
@prashaantt the best I could do for strong typing is I think: https://github.com/mobxjs/mobx-react#strongly-typing-inject. It is a bit boilerplaty but the compiler can follow this at least :)

[2016-07-18 12:25] prashaantt commented on #80
I know, that ensures that you're passing the right store type to props. But that's not automatically in sync with the component's actual props as supplied via the interface generic. I agree, there's no way to fix this.

Nevertheless, huge "props" to you for such an awesome library already. Looking forward to the next release. 👍

[2016-07-22 13:14] ifokeev opened #89 "Notice about react-router"
I found that ```Link``` of ```react-router``` doesn't pass activeClassName property after changing the history (e.g. I have product categories and clicked on next category).
It works only with with ```shouldComponentUpdate: true```. I think it's because of mobx-react uses pure render and there were no update of properties or state.
You can try the script with/without @observer and @inject.

[code]

[2016-07-23 02:45] jtraub commented on #89
Try to upgrade to react-router 3.0 alpha. I think they have found a workaround for https://github.com/facebook/react/issues/2517

[2016-07-24 13:38] mweststrate commented on #89
@jtraub did you try `withRouter`? see also https://github.com/reactjs/react-router/issues/3439

[2016-07-25 22:49] ifokeev commented on #89
I tried react-router 3.0.alpha2 and it fixes this problem but makes some other. So I'll leave it as is and change it later.
But it was very helpful. I found that it's not only my problem and fix is in the changelog:
https://github.com/reactjs/react-router/blob/a30defc3875e1abbb3978b5728db4b7d049a52f3/CHANGES.md

[2016-07-26 18:23] #89 closed

[2016-07-26 18:24] andykog commented on #83
@natew, are you using fresh mobx-react version? Is it possible that you didn't notice actual error? Can you show minimal example if the error is really being swallowed in some cases?

[2016-07-29 10:26] tomaash commented on #83
Please don't remove that message. I run into some edge cases when exception from `render` is swallowed, and this warning is the only thing that's left. So far, I've not been able to reproduce it in a JSFiddle, but I suspect it can be because of combination with other libraries async stuff

[2016-07-29 10:31] andykog commented on #83
TypeScript version seems to throw as well: https://jsfiddle.net/Sl1v3r/ko1s4xbx/
To fix this problem we need to reproduce it somehow, your help would be appreciated.

[2016-07-29 10:38] tomaash commented on #83
You are right, it's not typescript. I'm now trying crazy stuff to reproduce it to no avail. For me, right now it breaks when I do the failing render from a promise catch inside axios call (quite an edge case). Can you maybe see it here?
https://sm-web-widget-pr-1.herokuapp.com/?query=Test%20company&mode=Login
just fill something and click on login.

[2016-07-29 10:40] tomaash commented on #83
The `POST https://sm-api-eu-west-staging.herokuapp.com/register 400 (Bad Request)` exception is NOT it. The actual happens inside job-form.tsx, line 52 `<h1>Apply to {job.title}</h1>`

[2016-07-29 10:43] andykog commented on #83
@tomaash, well, if you are doing render stuff in Promise#catch, this behaviour is quite expected. You can rethrow catched error, if you want it to appear in console:
[code]

[2016-07-29 10:45] tomaash commented on #83
I don't actually render from the promise catch. I just change some observable values inside the catch handler. The error is thrown from render function, and disappears.

[2016-07-29 10:47] tomaash commented on #83
For example this works for me:

[code]

[code]

even in this case, the error IS rethrown. So the case I'm having elsewhere is some super-edge case. I'll post here when I'll be able to do some minimal reproduction.

[2016-07-29 10:52] andykog commented on #83
Changing observable value may cause synchronous re-rendering, so the error is catched.
Here is a simplified example: https://jsfiddle.net/Sl1v3r/32n59gfu/
So I don't think there is a way to solve this.
What I'm thinking about is providing stack trace in mobx warning. Will it solve your problem?

[2016-07-29 11:09] tomaash commented on #83
Yes please! That would totally solve the problem.

On Fri, Jul 29, 2016 at 12:52 PM, Andy Kogut <notifications@github.com>
wrote:

[2016-07-29 11:45] satispunk opened #91 "PropTypes request: arrayOrObservableArrayOf and observableArrayOf"
Would be great to have such PropTypes, similar to React.PropTypes.arrayOf

[2016-07-29 11:49] satispunk opened #92 "observer and inject don't hoist static props of component"
Would be great that HOCs hoist static non-react props (methods).

Similar as it's done in {connect} from react-redux

[2016-07-29 12:54] mattruby commented on #92
Could you use the wrappedComponent field to get to those methods?

On Jul 29, 2016 6:49 AM, "satispunk" <notifications@github.com> wrote:

[2016-07-29 13:18] satispunk commented on #92
@mattruby  observer does not have wrappedComponent field, doesn't it?

Anyway I would prefer that parent component should not know if child is wrapped component or not
and it looks not so nice
[code]

[2016-07-29 13:55] mattruby commented on #92
I agree with you.  I would like observer to feel completely transparent.
I'll try to take a look a little later today.

On Fri, Jul 29, 2016 at 8:18 AM, satispunk <notifications@github.com> wrote:

--
-Matt Ruby-
mattruby@gmail.com

[2016-07-29 14:01] jtraub commented on #92
@mattruby actually, it is easy to copy `connect` behaviour with 2 lines of code, thanks to https://github.com/mridgway/hoist-non-react-statics

[2016-07-30 14:25] andykog commented on #83
I realized, that stack trace (via console.trace() or new Error().stack) alone can help only partionally, because you won't see error message. So I made PR, that includes original error (with stack trace) in the warning: https://github.com/mobxjs/mobx/pull/447

[2016-07-30 15:06] mweststrate commented on #83
there is one potential issue with the error catch. if i remember correctly
(should test that to be sure) the rethrow will produce a fresh stacktrace
on the error. this means that clicking the error in the log or break on
uncaught exception will lead to the mobx throw statement instead of the
root cause i think? that might make it harder instead of easier to find the
original cause? sadly JS has no

[2016-07-30 15:13] andykog commented on #83
Nope:
[code]
[code]

[2016-07-30 15:15] mweststrate commented on #83
ah cool and without error constructor? might it differ per engine? probably
not I guess.  and where does the debugger break?

Op za 30 jul. 2016 17:13 schreef Andy Kogut <notifications@github.com>:

[2016-07-30 15:20] andykog commented on #83
Tested in Crome, Safari, Firefox. But I'm sure without testing, that debugger will break at second throw as executing of `foo()` is inside `try {}` block. (unless you check «Pause on caught exceptions») :-(

[2016-07-30 15:46] andykog commented on #83
Closed my PR. @tomaash, I don't see any worthwhile option but that you log errors inside your own `Promise#catch` (I guess, you're using Promises, right?)

[2016-07-30 17:18] mweststrate commented on #83
Btw if there are any ideas on how the message it self can be improved to avoid these kinds of issues, let me know! I'm thinking maybe on adding an link with additional explanation, similar to how React usually does this

[2016-07-30 18:17] andykog commented on #91
Made a PR #93

[2016-07-30 18:36] mweststrate commented on #91
Dude, awesome!

[2016-07-31 17:06] jmaguirrei opened #94 "Does mobx-react produces reactions in Unmounted Components?"
Hello

I noticed reactions in components that are not rendered in the screen.
I putted a `console.log `in `render()` function and get those logs.
Even though this components are observers of data that has mutated, they are not rendered, so (I think) they should not react...

Is it possible to prevent this?

[2016-07-31 17:11] andykog commented on #94
@jmaguirrei, if `render()` is being called, then your components are being rendered somewhere

[2016-07-31 17:19] andykog commented on #94
You can try placing `console.log(this._reactInternalInstance._nativeParent._currentElement)` in those `render()`. It might help you to find out who is rendering your component (or might not).

[2016-07-31 17:39] jmaguirrei commented on #94
@andykog Thanks, I found in one case those components were hidden because they are animated from 0 to 1 scale...

But, I have another case that calls render() and I think they should not.

For example, I have this (simplified) component tree:

Main (observes and passes A & B)
- Header (receives and observes 'A')
- List (receives and observes 'B')

'A' changes, Main is re-rendered, Header is re-ren

[2016-07-31 18:06] andykog commented on #94
@jmaguirrei, thats the nature of MobX, forceUpdate() is _always_ being called if observable data, that was used on previous renders is changed. With forceUpdate shouldComponentUpdate is being skipped, so you can't control it.

If Main is being re-rendered, then it uses observable A somehow instead of just passing it to Header. For example:
[code]

By the way, mobx-react is already implementing htt

[2016-07-31 18:11] mweststrate commented on #92
N.b. note that just `@observer` (without store injection) is not a HoC but rather mixes functionality into the target component

[2016-07-31 22:02] jmaguirrei commented on #94
@andykog I understand now, the pattern then is

But, what is the point to pass a store to a child component?

If the child component can directly import the store, then this pattern look cleaner to me:

[code]

Is that correct in the way also skips unnecessary re-renders?

[2016-07-31 22:09] andykog commented on #94
@jmaguirrei, of course. I've passed the «store» just for explanation. Your code looks good.

[2016-07-31 22:19] andykog commented on #94
Not quite. You are free to pass some part of your store that is not meant to be replaced very often. For example, if you use
[code]
then this component will be re-rendered only if link to users array itself will change: `store.data.users = ['new array']`, or if the whole data will change: `store.data = newData`, but not when the link stays the same: `store.data.users.push(newUser)`.

[2016-07-31 22:35] jmaguirrei commented on #94
Thanks very much, I think now I understand the pattern!

For my "mental model" my best option should be:

1) Pass the whole store and the name of the observable field to child component if it is reusable and therefore can render different things, example:

[code]

2) Just import the store he needs statically:

[code]

This I way I know that option A) "dynamic" its preferred when the component coul

[2016-07-31 22:46] jmaguirrei commented on #94
Closing this, no evidence that unmounted components are rendered, thans for the whole explanation

[2016-07-31 22:46] #94 closed

[2016-08-01 07:19] tomaash commented on #83
It would be helpful to inform the user of the synchronous errors in render, that can be unintuitively caught by your own catch block. The message is already quite long, so maybe a link to some stack overflow page or something like that would be sufficient. How about something like this?

---

[mobx] An uncaught exception occurred while calculating your computed value, autorun or transformer. Or in

[2016-08-01 11:37] andykog commented on #91
Released as `mobx-react@3.5.2'

[2016-08-01 11:37] #91 closed

[2016-08-01 12:36] mweststrate opened #95 "print warnings when assigning static things to HoC"
See: https://github.com/mobxjs/mobx-react/pull/88

[2016-08-01 18:35] andykog commented on #94
Removed misleading comments about forceUpdate. We have discovered, that this is happening because `List` doesn't have pure rendering implemented. That can be achieved either with decorating `List` with `@observable` (that implements pureRenderMixin), or just using something like https://www.npmjs.com/package/pure-render-decorator for `LIst`

[2016-08-01 20:09] timothyallan opened #96 "3.5.2 renderReporter error"
Just updated to 3.5.2 and am getting a showstopper error on load:
```Uncaught TypeError: Cannot read property 'renderReporter' of undefined```

Downgrading to 3.5.1 gets rid of it.

I'm only using ```observer``` in my code and nothing else...

[2016-08-01 20:22] mweststrate commented on #96
Confirmed, same issue here

[2016-08-01 20:25] andykog commented on #96
Sorry, my bad, released fixed version as 3.5.3

[2016-08-01 20:27] timothyallan commented on #96
Yep, 3.5.3 seems to have fixed it. Wish all my problems could be fixed in 15 minutes 👍

[2016-08-01 20:27] #96 closed

[2016-08-01 20:32] mweststrate commented on #96
awesome!

[2016-08-03 06:12] Haubach opened #97 "Observer decorator in TSX throws type error when updating project from 3.3.0 to 3.5.x"
I'm working in a code base which has a react class decorated with the observer decorator. In Mobx-react 3.3.0 this worked perfectly, but after installing 3.5.x it throws a type error on compilation with typescript 1.8.10.

  Type 'ComponentClass<void>' is not assignable to type 'void'.

[Here's](https://github.com/Haubach/Mobx-react-bug) a minimal example which recreates the issue.

`@observer
cla

[2016-08-03 06:38] mweststrate commented on #97
Quick check, what about `React.Component<{}, {}>` (that's what I always use)?

[2016-08-03 07:40] Haubach commented on #97
Yes, that does work.

[2016-08-03 08:00] andykog commented on #97
Strange. Component state should allow `void` https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/react/react.d.ts#L16
@Haubach, are you using that type definition for React? Works fine for me.

[2016-08-03 08:17] Haubach commented on #97
Yes, that is the react type definition I'm using in [the example repo](https://github.com/Haubach/Mobx-react-bug).

I've just verified the behavior on my colleagues machine.

[2016-08-03 17:07] christiansakai opened #98 "Is it broken?"
Sorry to put this here, I am following
https://egghead.io/lessons/javascript-mobx-and-react-intro-syncing-the-ui-with-the-app-state-using-observable-and-observer

and copy paste the code exactly, the counter doesn't re-render.

mobx ^2.4.1 and mobx-react ^3.5.3

[2016-08-03 17:47] andykog commented on #98
@christiansakai, could you please provide you code?

[2016-08-03 17:49] mweststrate commented on #98
Is it not running for you locally or in JSBin? If running locally sharing your setup will help indeed :)

[2016-08-03 17:50] christiansakai commented on #98
Sorry, here is the code.

[code]

[2016-08-03 17:53] andykog commented on #98
Should work fine: https://jsfiddle.net/Sl1v3r/y03tbt8t/ (i just replace `@observer` decorator as jsfiddle doesn't support it)
Do you have any errors in browser console?

[2016-08-03 17:54] andykog commented on #98
(updated the link)

[2016-08-03 17:56] andykog commented on #98
Could you share the whole setup, including `package.json`, `weback.config.js` (or any transpiler config you are using)?

[2016-08-03 17:58] christiansakai commented on #98
@andykog I am using brunch as my bundler.

`brunch-config.js`
[code]

`.babelrc`
[code]

`package.json`
[code]

[2016-08-03 18:09] andykog commented on #98
Could you try the following .babelrc?
[code]
(don't forget `npm install transform-decorators`)

[2016-08-03 18:16] mweststrate commented on #98
I think your imports are incorrect:

[code]

should be:
[code]

[2016-08-03 18:19] christiansakai commented on #98
@andykog @mweststrate no luck :(

[2016-08-03 18:33] christiansakai commented on #98
I'll try to put a small app example and update

[2016-08-03 18:51] andykog commented on #98
@christiansakai, it works fine if you place babel configuration in `brunch-config` https://github.com/andykog/mobx-issue-98

[2016-08-03 18:54] andykog commented on #98
Hm, or that was caused by updating packages... Anyway, everyting works in repo above

[2016-08-03 18:55] christiansakai commented on #98
@andykog right it is working on my small app example that I just created. I don't know why .babelrc doesn't work. Anyway, I'll close this issue, thanks for helping!

[2016-08-03 18:55] #98 closed

[2016-08-04 10:01] aksonov opened #99 "Attempted to assign readonly property"
3.5.1 version works fine, but 3.5.3 throws error when i'm wrapping React component using

[code]

![simulator screen shot 04 aug 2016 11 58 55](https://cloud.githubusercontent.com/assets/1321329/17398016/f36d61d4-5a3a-11e6-97e9-2fbe6b77ccc0.png)

[2016-08-04 17:44] mweststrate commented on #99
nasty! some questions, is there a hot reloader active and does disabling
make a difference? does the wrapped component use decorators? and which
mobx version?

Op do 4 aug. 2016 12:01 schreef Pavel Aksonov <notifications@github.com>:

[2016-08-04 19:14] aksonov commented on #99
No hot reload. Probably yes, some decorators are exist.

Pavel.

[2016-08-04 19:18] mweststrate commented on #99
Does it make a difference if you don't use the decorators but functions instead? `@observer class` -> `observer(class ...`, `@observable` / `@computed` -> `extendObservable`. Which one is the culprit, if any? Make sure to be on the latest version of MobX, a possibly related issue was fixed recently

[2016-08-05 06:54] aksonov commented on #99
react-native-mobx using latest Mobx and observer() function to wrap all scenes automatically. Looks like latest react/mobx mutates param of observer function somehow, so React throws exception. Previous version didn't mutate it.

[2016-08-05 06:55] mweststrate commented on #99
Are you using inject or observers that are connected to stores
(observer([x,y], component)? If you can produce a less obfuscated
stacktrace that would be great!

Op vr 5 aug. 2016 om 08:54 schreef Pavel Aksonov <notifications@github.com>:

[2016-08-05 06:58] aksonov commented on #99
second, observer(component). Strange, it is just debug run on simulator (RN 0.30.0), i don't understand why React obfuscate it...

[2016-08-05 07:05] aksonov commented on #99
I meant 'u' and 's' sources. last 'iterate' is function of react-native-mobx, where observer(component) is called.

[2016-08-05 07:06] aksonov commented on #99
I have quite urgent task so i'm just using old version for a while. Will try to post more details here when i have time.

[2016-08-05 09:52] andykog commented on #99
[code]
@aksonov, This works fine in my react-native setup. I've also checked using Provider, `@inject`, `@observer` (both as decorators and as functions).
Could you enable remote debugging and get the exact place where the exception occurs?
Any help in reproducing this will be appreciated.

[2016-08-06 12:25] mweststrate commented on #97
It is unclear to me why `void` isn't allowed by the type system, could be investigated further but is `{}` instead of `void` an acceptable work around? (Personally I would argue that it is more correct as well, props aren't absent, but just empty)

[2016-08-06 13:48] #73 closed

[2016-08-06 13:49] mweststrate commented on #61
Closed for inactivity, feel free to reopen when needed

[2016-08-06 14:08] mweststrate commented on #56
Made a change where using the `propTypes`  provided by `mobx-react` will use `untracked`. This doesn't solve it for the general case though. Either using typescript :wink:, or production will avoid this issue. So since this is only a dev problem, a further won't fix for now.

[2016-08-06 14:08] #56 closed

[2016-08-06 14:09] #61 closed

[2016-08-06 14:10] #97 closed

[2016-08-06 14:10] mweststrate commented on #95
Released as `3.5.4`

[2016-08-06 14:10] #95 closed

[2016-08-06 14:11] mweststrate commented on #92
Released as `3.5.4`

[2016-08-06 14:11] #92 closed

[2016-08-06 14:12] mweststrate commented on #80
Released as `3.5.4`, the returned props from the function are now mixed in (and override) the original `nextProps` props before being passed to the child.

[2016-08-06 14:12] #80 closed

[2016-08-06 14:13] #69 closed

[2016-08-06 14:17] mweststrate commented on #83
Will explain further details in https://github.com/mobxjs/mobx/issues/462, and link to that error from the error message.

[2016-08-06 14:17] #83 closed

[2016-08-07 14:42] prashaantt opened #101 "Hot reload fails in 3.5.4"
I'm unable to get `react-hot-loader@3.0.0-beta.2` to work with `mobx-react@3.5.4`. Rolling back to 3.5.3 works as before.

![image](https://cloud.githubusercontent.com/assets/390540/17462999/b2ff01c8-5cda-11e6-8928-840d6adadf5b.png)

[2016-08-07 15:26] Haubach commented on #97
The decision to use void over empty object was taken some time ago where we encountered an issue in another code base, but I don't remember the specific reasoning. For now, this regression is not a serious issue and hopefully it will continue to be a non-issue if you don't intend to continue to support the 3.3.0 behavior.

[2016-08-08 09:40] tomaash commented on #83
👍

[2016-08-10 00:54] pavanpodila opened #102 "[Opinion] Favor observer([stores], Component) over inject(store)"
When connecting stores, you have two options currently:

- using `observer([stores], Component)`
- using `inject([stores])`

I actually prefer the `observer` and find it more convenient, and less error-prone compared to `inject`. The fact that you have to remember of order of usage:
- `inject` is the outer
- `observer` is the inner

...is easy to forget and a simple mistake can cause lot of pain d

[2016-08-10 09:14] zalmoxisus commented on #102
I was also thinking that it would be great to have an `injectAndObserve` decorator.

BTW, is it a good practice to have hundreds of `MobXStoreInjector` components? Or still better to keep them in the parent component?

[2016-08-11 18:44] mweststrate commented on #102
@pavanpodila yep, using only one decorator is the most simple approach and also the one featured in the egghead course: https://egghead.io/lessons/react-mobx-fundamentals-connecting-components-to-stores-using-provider-and-observer

The separate decorator was only added later, the main reason being that there are some times third party decorators which should be applied in between, for example when

[2016-08-11 18:47] mweststrate commented on #101
@prashaantt would you mind testing whether `npm install mobx-react@3.5.4-fix101` solves the issue? If so I'll cut a new release with that patch

[2016-08-11 18:48] mweststrate commented on #99
Could this be a duplicate of #101 @aksonov ?

[2016-08-11 18:59] pavanpodila commented on #102
Ah that makes more sense now Michel

Thanks,
Pavan

[2016-08-11 21:23] prashaantt commented on #101
Yes it does 👍

[2016-08-11 21:24] prashaantt commented on #101
I had a conflict with `mobx-react-devtools` with this patch, so you may want to update its dependency too.

[2016-08-12 02:04] #102 closed

[2016-08-12 08:01] giladv opened #104 "@observer components does not update on context change"
hi guys,
i lost a few hours on this - apparently @observer overrides the shouldComponentUpdate method
with a method which totally disregards context changes.
if it is a feature and not a bug, this should be written somewhere IMO.

why does is need to override the default method though? specially now when PureComponent was introduced...?

thanks,
Gilad

[2016-08-12 08:08] andykog commented on #104
(related: https://github.com/facebook/react/issues/2517 )

[2016-08-12 18:54] #101 closed

[2016-08-12 19:19] mweststrate commented on #101
Released as 3.5.5

[2016-08-12 19:20] mweststrate commented on #99
@aksonov would you mind checking whether `3.5.5` solves this issue?

[2016-08-12 19:29] mweststrate commented on #104
@giladv is PureComponent afaik only a concept and not a thing? Note that the official PureRenderMixin also completely disregards context (as per https://github.com/facebook/react/blob/cba2b19b84b339e937b4bbc258cd09b2b8303391/src/addons/ReactComponentWithPureRenderMixin.js#L42). See also the thread @andykog mentioned

This issue in general is circumentvented by using a simple rule: context should b

[2016-08-12 19:41] giladv commented on #104
@mweststrate it is new but it is an actual class. (e.g class Button extends PureComponent...)

specifically, i had a use case in which my Form component uses context to expose it's "FormStore" to child inputs to enable them to obtain values and such.
the problem started when switching between pages which in turn renders the same form with a different instance of "FormStore".

it is easily fixable

[2016-08-12 19:46] ronag commented on #104
@mweststrate: It's part of React since 15.3

[2016-08-16 07:43] Strate opened #105 "Allow @observer decorator for stateless functional components as properties"
We have a lot of react components, composed with custom render methods, instead of render components. For example:
[code]
I found that mobx's `observer` could be used to improve performance of rendering that components, without huge refactorings: just decorate render methods by `observer`, change arguments list to single argument object and replace method calls to component instantiation:
[code]
I

[2016-08-16 10:58] aksonov commented on #99
Unfortunately no.

[2016-08-21 15:53] jmaguirrei opened #106 "Fired render method if value has not change?"
Hi, please take a look at this code:

[code]

The console shows that the same number is rendered every time.

![screenshot from 2016-08-21 12-49-31](https://cloud.githubusercontent.com/assets/11958637/17838212/efe52aae-679d-11e6-8cd9-cbf321ac7ae4.png)

So, I wish if it's possible to prevent this because in a large app this could be expensive.

Thanks

[2016-08-21 16:12] mweststrate commented on #106
The problem here is that in your example you do change the number field every time; you give it a new array with new objects. (In other words, `var a = this.number; this.updateNumber(1); this.number !== a`). If you would change your code to `this.number[0].somefield = 1` it would behave as expected.

If you want you can ask MobX to do a deepEquality / structural equality check before seeing someth

[2016-08-21 17:03] andykog commented on #105
@Strate, basically, you are using your renderHead and renderFoot as a stateless components, so applying `observable()` may help, but not as a decorator, it is not intended to be used like this.
PS: To me it's seems more logical to declare those components outside the class.

[2016-08-21 18:18] jmaguirrei commented on #106
@mwestrate Thanks, I am wondering if the asStructure comparison for complicated objects has the same cost of lodash isEqual?

[2016-08-22 07:09] Strate commented on #105
@andykog that components are not completely stateless, because they has access to `this`, which helps to reduce boilerplate with bypassing props from parent to child.

[2016-08-22 07:19] andykog commented on #105
@Strate, using `this` doesn't make them statefull. They don't have own `state`. And “stateless functional component” is the [official term](https://facebook.github.io/react/blog/2015/10/07/react-v0.14.html). I think the way you are using it not very obvious. I would at least pass `this` as a prop. But thats not the topic of current issue. You can use `observable(statelessFunctionalComponent)`, not

[2016-08-22 07:23] Strate commented on #105
@andykog okay :)
I just want to suggest to allow use `observer` as a decorator on class method, because there is at least one use-case :)

[2016-08-22 07:24] andykog commented on #105
Ok, then I changed the title :-)

[2016-08-22 07:27] andykog commented on #105
To me using stateless components like this is still seems like a bad practice, so I'm not sure we should encourage that.

[2016-08-22 07:33] Strate commented on #105
It is already allowed, but with `observer()` signature.

[2016-08-22 07:55] andykog commented on #105
@Strate, Yes, `observer()` creates you observer component, and you can place it anywhere, even in class property, but I don't like this idea, so I wouldn't make `@observer` a class property decorator that will serve only for that single purpose. You are also allowed to use classes like this by the way:
[code]

[2016-08-22 12:44] jmaguirrei commented on #106
@andykog Thanks for the tip. I will go with asStructure for now and see how it goes.

[2016-08-22 12:44] #106 closed

[2016-08-23 17:59] nareshbhatia opened #107 "How to specify observableArray in propTypes?"
As described in the README:

How do I use these proptypes in my declarations? I tried this:

    import {observableArray} from 'mobx-react';
    RepoList.propTypes = {
        repos: observableArray
    };

But I get the following error:

    Warning: Failed prop type: RepoList: prop type `repos` is invalid; it must be a function, usually from React.PropTypes.

[2016-08-23 18:09] ifokeev opened #108 "More examples"
I developed a real-world tiny app that demonstrates use of `React` with `Mobx` and `Mobx-store`:
https://github.com/ifokeev/support-service

It has a single store, prefetch and server-side rendering. I tried to make it clean and correct.
I think it may be useful for beginners.
If you have the same view, please, add it to your readme. It's non-commerce project, of course, but it may be used as real

[2016-08-23 19:10] mweststrate commented on #105
I think doing like `child = observable(props => rendering)` is not like really bad, but it is a bit weird because of the following; each `SomeComponent` get's its own, bound versions of those components. That is ok-ish, but what is trickier is that these fields are initialized during the construction of the `SomeComponent` instance. That is quite expensive as not all instantiated components will b

[2016-08-23 19:12] mweststrate commented on #107
you need to `import {PropTypes} from 'mobx-react'` and then use `PropTypes.observableArray`

[2016-08-23 19:34] nareshbhatia commented on #107
Thanks, @mweststrate. That worked like a charm. Only change was that `propTypes` needed to be camelCase.

[2016-08-23 19:34] #107 closed

[2016-08-24 02:18] Zcgong opened #109 "@observer got an syntax error"
I got this syntax error for use mobx-react in react-native. Anyone know what's happened
?
![2955d7b5-0ba7-46c7-8cdc-45511b10e8ee](https://cloud.githubusercontent.com/assets/13640428/17915980/9b7582c0-69e1-11e6-979f-d8ae80588df7.png)

This is my code

[MobxDemoRN 2.zip](https://github.com/mobxjs/mobx-react/files/433898/MobxDemoRN.2.zip)

[2016-08-24 08:12] olegsmetanin opened #110 "Strongly typing inject is not merging nextProps"
https://github.com/mobxjs/mobx-react#strongly-typing-inject
"The additionalProps will be merged into the original nextProps before being provided to the next component."
Next component will receive only additionalProps, you have to manually merge nextProps to additionalProps
@inject((allStores, nextProps) => (Object.assign({
    userStore: allStores.userStore as IUserStore
}, nextProps))

[2016-08-24 11:53] mweststrate commented on #110
@olegsmetanin which version of mobx-react are you using?

[2016-08-24 11:55] mweststrate commented on #109
Not familiar with RN projects setup, but where is the babel configuration? `.babelrc` or something like that

[2016-08-24 12:14] andykog commented on #109
@mweststrate, people are usually using `react native packager`, with exclusive (babel-preset-react-native)[https://github.com/facebook/react-native/blob/master/babel-preset/configs/main.js], I'l try to check @Zcgong's example

[2016-08-24 12:46] andykog commented on #109
@Zcgong, I see you are using decorators without any configuration for that. I, personally, haven't managed to get it working with react native packager. And [they saying](https://github.com/facebook/react-native/blob/master/breaking-changes.md) that decorators won't work until [T2645](https://phabricator.babeljs.io/T2645) lands in Babel. So thats not a mobx issue.

After 2 chages you app is workin

[2016-08-24 18:40] olegsmetanin commented on #110
"mobx": "2.4.0",
    "mobx-react": "3.5.1",

[2016-08-25 01:34] Zcgong commented on #109
@andykog Thanks ! I will try this.

[2016-08-25 01:52] Zcgong commented on #109
@andykog Thanks a lot ! I fix this by two way:
1. add .babelrc file  add plugins "transform-decorators-legacy"
2. your way

but I feel confuse with the first way, did it must add at the project init ? I try to add it in my current project but it not works. Then I init a new project and add it then copy code to this new , it works. Why ?

[2016-08-25 11:47] mweststrate opened #111 "Idea: make `inject` a reactive function as well"
See this SO issue: http://stackoverflow.com/questions/39128210/mobx-react-inject-and-observe-together

This means that any props preprocessing done by `inject` could be tracked as well, if the generated injectWrapper component would be an observer itself as well

[2016-08-25 11:55] mweststrate commented on #110
ah, please upgrade to at least `3.5.4`, in which this was fixed (see also the change log)

[2016-08-29 20:52] optimatex opened #112 "How to write tests if you use Provider for passing props"
Hi. I start using `Provider` and encounter that writing test is tricky. I use enzyme mount function for my tests. My first intent was next:
[code]

and component
[code]

but dealing that way produce 2 problems:
1) Enzyme .context() function doesn't work cuz it try to get state of Provider instead of Person
2) `Error: MobX observer: Store 'profile' is not available! Make sure it is provided by some

[2016-08-30 05:27] allces opened #113 "a set problem"
![image](https://cloud.githubusercontent.com/assets/7076712/18077067/657c4752-6eb5-11e6-8cf4-2b7727c95687.png)
![image](https://cloud.githubusercontent.com/assets/7076712/18077058/51433430-6eb5-11e6-8581-f0a93723f900.png)

[2016-08-30 05:40] mweststrate commented on #112
@optimatex in your test you should be able to pass `profile` directly, `@observaber` will pick that up as well: `mount(<Person profile={profile} age={'30'} />)`

[2016-08-30 05:53] mweststrate commented on #113
can you elaborate a bit more on your problem, what is not working as expected? It is correct that arrays are converted to objects (to support observability), see also: https://mobxjs.github.io/mobx/best/pitfalls.html, first item

[2016-09-04 07:39] mohsen1 opened #114 "Nested Providers?"
I'm trying to refactor my [contacts-mvc project](https://github.com/contacts-mvc/mobx-react-typescript/pull/6) to use `Provider`.

I came to this problem where I want to provide a store to some of the components and a big store to every component. The inner component (`'contact'`) provider is a computed property of bigger store (`@computed get selectedContact()`).

First I had it this way:

[code]

[2016-09-04 18:23] mweststrate commented on #114
I see a few potential isues in your listing:

1. the search routing also uses the ContactDetails component, but in that case contact is not provided in the store, that might be an issue
2. you dereference the `selectedContact` already here in the router configuration, that means that if it changes, your app will not pick it up (as the computed value is not dereferenced in an observer component, ch

[2016-09-04 20:14] mohsen1 commented on #114
I did another pass and made my state simpler. Now I only have `appState`. Please take a look.

But the question of how to use multiple stores or nested stores remains unanswered. Do nested `Provider`s work if they are providing two separate stores?

[2016-09-04 20:16] mweststrate commented on #114
yes no problem multiple providers are supported and may even override /
shadow stores

Op zo 4 sep. 2016 22:14 schreef Mohsen Azimi <notifications@github.com>:

[2016-09-05 10:06] amir-arad opened #115 "issue #21 regression test fails on last assert"
After cloning and installing the project from scratch (OSX, node 4.4.4, npm 2.15.1) I get a test error on [the regression suite for issue](https://github.com/mobxjs/mobx-react/blob/master/test/issue21.js#L121) #21
[code]

[2016-09-05 10:27] amir-arad commented on #115
all tests seem to work fine when using mobx ```2.4.4``` instead of ```2.5.1```

I suggest not using semver ranges in package.json. That's what I do.

[2016-09-05 14:03] callumlocke opened #116 "Readme doesn't say say how you import propTypes"
is it `import { observableArray } from 'react-mobx';` or something else? It needs an example to show how to use them.

[2016-09-05 17:25] mweststrate commented on #116
That is not obvious from the docs indeed, should be `import { propTypes } from "react-mobx"`, then use `propTypes.observableArray`

[2016-09-05 17:27] #116 closed

[2016-09-05 19:23] mweststrate commented on #115
Confirmed, thanks for reporting. Shouldn't cause any bugs but I'll check whether the optimization can be restored.

[2016-09-05 21:28] kitze commented on #28
@mweststrate is there any chance that compatibility with Jest will be fixed soon?

[2016-09-06 00:59] zwhitchcox commented on #43
Is there a workaround for this?

[2016-09-06 01:01] zwhitchcox commented on #43
I'm getting this error:
[code]

This is my config:

[code]

[2016-09-06 02:21] mohsen1 commented on #114
Thanks, I just checked and nested Providers with two different stores work.

[2016-09-06 02:21] #114 closed

[2016-09-06 05:17] mweststrate commented on #43
react-dom is a peer dependency, so you need to explicitly depend on react-dom yourself (when building a web-app, for react native or custom renderers it isn't needed).

[2016-09-06 05:21] mweststrate commented on #28
@kitze  From your tweets it seems the question has been answered, but for future reference

`jest.mock('react-dom');` seems to be needed (https://github.com/facebook/react/issues/7386). See also https://semaphoreci.com/community/tutorials/how-to-test-react-and-mobx-with-jest

[2016-09-06 06:02] kennynaoh opened #118 "Which files need to be hosted?"
Hello @mweststrate ,
I am the member of [cdnjs](https://github.com/cdnjs/cdnjs).
We want to host this library.
But there is a question want to ask.
I am not sure which file need to be grab on [npm](https://www.npmjs.com/package/mobx-react).
There are three js file, `index.js`, `custom.js` and `native.js`.
And I think all of them are minified file.
But I couldn't find that which is needed from its

[2016-09-06 09:58] mweststrate commented on #118
All those files are correct, `index` is the default implementation of `mobx-react`, `native` and `custom` are the bindings for react-native / a custom renderer. Basically the `files` section of the package.json is representative for what should be hosted, although `d.ts` files could be left out.

[2016-09-06 11:33] zwhitchcox commented on #43
Thank you! That worked

[2016-09-06 11:57] kennynaoh commented on #118
Thanks @mweststrate ,
So could you change the name which is easy to understand?
Thanks!

[2016-09-06 18:20] kesha-antonov commented on #104
Hello guys!
Any updates on this?

[2016-09-07 03:17] johncho75 opened #120 "@inject doesn't hoist statics props of component"
RE: #88, #92, #95

I was previously on v3.5.1 and just upgraded to v3.5.5. Discovered an issue where a component decorated with @inject was failing to apply my defaultProps for the component causing an undefined error for a property:

[code]

This was working fine in v3.5.1. But as of v3.5.5 (I assume as of v3.5.4) this code fails. Default props for this component never gets set. And I see the new

[2016-09-07 05:24] leader22 opened #121 "When the next update includes #117?"
Hi.
I've just faced #116 and I prefer #117 too.

But now, it seems to be not available on npm.
When's the next update?

Thanks.

[2016-09-07 07:51] mweststrate commented on #104
No this is working as 'intended'. Supporting active context changes breaks any `shouldComponentUpdate` optimization in MobX or other libraries. See also this [blog](https://medium.com/react-ecosystem/how-to-handle-react-context-a7592dfdcbc#.gm3hfdryq). You don't have to be constrained by this though; if you put observables in your component, sub components will still react to the changes (because

[2016-09-07 07:51] #104 closed

[2016-09-07 08:33] kesha-antonov commented on #104
Ok, got it. Thanks for the reply @mweststrate

[2016-09-09 01:16] leader22 commented on #121
Sorry to forget to mention. @mweststrate

[2016-09-12 09:07] paulsoh opened #122 "Can we autorun custom methods just like the `render` method?"
I am trying to replace all my states to use mobx observables.
So, `this.setState({ ... })` now became just as simple as `this.observableValue = ...`

One short coming I have encountered, is that now that I don't use `states`, I can't use the common React lifecycle methods such as `componentDidUpdate` or `componentWillUpdate`. Which I sometimes need to handle some internal logic.

For example, lets

[2016-09-12 14:07] paulsoh commented on #122
I think I found the answer to my question. Please correct me if I am wrong or I could to better.
I used `reaction`'s to do the work.

So in the case above, I did something like this:
[code]

[2016-09-12 21:28] mweststrate commented on #122
@paulsoh yep this is a fine approach. Don't forget to clean up the hook in componentWillUnmount. (And if you don't like reactions for this, you can always use your own methods that update the filterType and trigger the request)

[2016-09-13 09:26] paulsoh commented on #122
@mweststrate Thanks. When you say `you can always use your own methods that update the filterType and trigger the request`, I realized that in some cases, the `observable` value changes somewhere else and affects the store.

[code]

If this were the case, how would you make an local method that is triggered from a remote observable value change?

[2016-09-13 09:48] jamiewinder opened #123 "observerAsync?"
More of a discussion than an issue. Is there anything to be said for adding `observerAsync(minimumDelay)`? Basically like `observer`, but wrapping render using `autorunAsync` rather than `autorun`.

I can imagine it'd have some uses where you want to render data that changes rapidly.

The main drawback I can think of is that you'll end up wanting some data to update immediately, and some to update

[2016-09-13 13:56] mweststrate commented on #122
ah, in that case I would definitely use reactions indeed. It's more that sometimes you just have two localized things that should happen together, and then a reaction might just be overkill compared to introducing a convenience method :)

[2016-09-13 13:58] mweststrate commented on #121
Just released!

[2016-09-13 13:59] #121 closed

[2016-09-13 14:00] mweststrate commented on #120
Thanks for reporting! This should behave the same for both `inject` and `observer` indeed

[2016-09-13 14:02] mweststrate commented on #123
In general I think throttling is best done on the receiving side of things, e.g. on the incoming websockets before the changes are applied to the observable state. If that is not applicable to your case, then I would go for a viewmodel like constructions that uses for example `autorunAsync` to update the model on a timely bases from the source data

[2016-09-13 14:03] mweststrate commented on #112
Closed for inactivity, answer has been provided in the docs

[2016-09-13 14:03] #112 closed

[2016-09-13 14:05] mweststrate commented on #110
Closing for inactivity, answer has been provided. Feel free to re-open if needed

[2016-09-13 14:05] #110 closed

[2016-09-13 14:27] Strate opened #124 "Observable props of @observer-ed component"
As for now, `this.props` object itself is not an observable, which is a problem if we trying to use it inside `computed` function or bount child component. Some examples:

[code]

`claculatedValue` does not tracks `this.props` properties, because it is not reactive. And the developer ran into unobviously issue, "why mu computed function does not recompute?"

Second one is bit more complex, but has

[2016-09-13 15:48] #122 closed

[2016-09-13 15:58] mweststrate commented on #118
Preferrably not until a next major, as that would break a lot of jsbins /
fiddles which are included from unpkg (npmcdn)

Op di 6 sep. 2016 om 13:57 schreef naoh <notifications@github.com>:

[2016-09-13 16:01] mweststrate commented on #124
Yeah I definitely see why you want this :)

I can see three options
1) another decorator which makes `this.props` observable (downside: another decorator)
2) by default introduce `this.observableProps` (downside: redudancy, ultimately confusion)
3) make `this.props` by default observable (downside: risk, subtle unforsee-able bugs, like having a prop that receives a plain object that must stay plai

[2016-09-13 23:02] optimatex commented on #112
oh, i did write answer in docs. Maybe it didn't show u my post
 optimatex added a line comment 14 days ago

Thank for ur response. I did like u suggest and met another error:
TypeError: Attempted to wrap undefined property handleLike as function
in this sinon function:
handleLike_spy = sinon.spy(Person.prototype, 'handleLike');
this error appears only if i use @observer(['profile']) . If i remove

[2016-09-13 23:15] andykog commented on #124
4) Make `@observer` configurable, something like:
`@observer({ inject: [], observableProps: true })`

[2016-09-14 04:35] arackaf opened #125 "Guidance on (intelligently) overriding mobx's shouldComponentUpdate"
The crux of the problem I'm dealing with is that a component is being rendered inside a bootstrap tab pane.  Inside the component is a react-collapse `<Collapse>` component.

When the relevant observable changes, and that tab no longer is "active" (ie it's not displayed because another tab is shown), the component's render is fired, `<Collapse>` calculates the height to be 0, and collapses it.  Wh

[2016-09-16 12:15] alolis opened #126 "Observe specific store properties"
Hello,

I couldn't find anything in the docs here so I thought to ask. Is it possible to pass to the `@observer` component decorator specific store properties that someone wants to observe instead of the whole store?

There is something related here:
https://mobxjs.github.io/mobx/refguide/observe.html

It only supports one property though.

Thank you for your time

[2016-09-18 20:02] andykog commented on #126
@alolis, no, thats not possible. `observer` and `observe` are completely unrelated things.

[2016-09-18 20:18] andykog commented on #125
@arackaf, that works fine: https://jsfiddle.net/Sl1v3r/83k26bgw/

[2016-09-19 07:12] alolis commented on #126
@andykog , thanks for getting back to me. Would it be possible with some other way?

[2016-09-19 07:23] andykog commented on #126
@alolis, why do you need it? It is possible with manual calling `this.setState` or `this.forceUpdate` inside autorun or reaction. Or making your own observer decorator, its quire simple https://github.com/mobxjs/mobx-react/blob/master/src/observer.js

[2016-09-19 07:26] alolis commented on #126
@andykog , the reason is quite simple actually. For example I have a UIStore that stores everything related with the user interface of my app. The thing is that each component does not care for the whole store but only a few properties from it, so, in order to not pass the whole thing to each component, it would be nice to be able to pass only what each component needs making the code cleaner.

I

[2016-09-19 10:02] mtyaka commented on #115
Can we keep this issue opened until it's fixed or the test updated?

[2016-09-19 12:23] mattruby commented on #126
Sounds like a good case for Provider.

On Sep 19, 2016 2:26 AM, "Alexander Lolis" <notifications@github.com> wrote:

[2016-09-19 12:29] alolis commented on #126
@mattruby , if you make the change to the provider then all the components under the provider will be limited to that property only. The only way to make this work is if each component can observe, independently, different properties of the store. For example:

[code]

Adding this functionality to a Provider will not help at all.

[2016-09-19 13:19] andykog commented on #126
@alolis, for me this sounds more suitable for custom `@propsSanitizers` decorator, separate from mobx-react.

[2016-09-19 21:19] birkir opened #127 "Webpack's UglifyJsPlugin causing problems."
I am having problems with the package when compiling for production. I get the following error:
[code]
It is originating from https://github.com/mobxjs/mobx-react/blob/master/src/inject.js#L8 where `React` is uglified to `s.default`.

I can resolve it by either:
1. Build the `mobx-react` package without the **UglifyJsPlugin** in `webpack.config.js` and use it directly in my project.
2. Or use the

[2016-09-19 22:43] birkir commented on #127
Ok I've been looking better into this issue. To fix the build, I've added the following to my UglifyJs config:

[code]

But this is only temp solution because the next version that get's published could generate other variable name for `require`.

Looking into other packages (like `mobx` for example), they don't ship their build uglified. Some packages do it as well but strictly name them `package

[2016-09-23 01:17] kennynaoh commented on #118
@mweststrate
Sorry for late reply.
So if change the file name from `index.js` to `mobx-react.js`(or any other obvious name), it will break your structure.
What you mean is this?
Thanks!

[2016-09-23 13:38] arackaf commented on #125
Thanks @andykog - I knew something like that would work.  Was mainly wondering if @mweststrate had anything built into a MobX utility somewhere that would be a bit simpler.

[2016-09-23 19:41] mweststrate commented on #125
@arackaf nope, sorry :) (btw I didn' t get your problem description entirely I think, why the re-rendering is inappropiate)

[2016-09-23 20:04] arackaf commented on #125
@mweststrate - thanks anyway :)

The problem description boils down to:

There's a tab pane.  Tab 1 has a *collapsible* list of things.  It's expanded.  User clicks to tab 2, then back to tab 1.  Upon tab 1 re-rendering, the collapsible list re-expands even though it was always expanded.

Just wanted to suppress that re-rendering to prevent that from happening.

Although, thinking about this weeks

[2016-09-25 12:31] mweststrate commented on #104
Wrote an extensive blog post about the issue (it isn't mobx specific) and how to deal with it: https://medium.com/@mweststrate/how-to-safely-use-react-context-b7e343eff076#.gbx4t9eix

[2016-09-26 17:53] birkir commented on #127
I want to stress this issue again.

Check out the components that are part of the `mobx-react` or `mobx-react-devtools` packages:

![image](https://cloud.githubusercontent.com/assets/180773/18845540/93489d36-8411-11e6-8ef8-9a0badef98e1.png)

This is in development mode. The build phase really needs modification asap.

[2016-09-26 19:46] mweststrate commented on #118
@kennynaoh hmm never mind, I was afraid that it would break unpkg.com links (like https://unpkg.com/mobx-react@3.5.6), but probably most people mention the `index.js` file directly. I have to say though that I am not sure whether something else would be nicer, e.g. `react.js` would be confusing, as `native.js` is also for react, which then should become `react-native.js`, but then you get really u

[2016-09-26 19:55] mweststrate commented on #126
@akolis It is not entirely clear for me whether you want to hide the properties for 1) protection, or 2) to prevent that components react to unrelevant properties?

For the first:
We actually do similar things quite frequently, but we are using typescript, so then it is quite easy to protected property access at runtime, just define an interface that exposes a subset of the properties, and use tha

[2016-09-26 19:55] #126 closed

[2016-09-26 19:58] mweststrate commented on #112
@optimatex is `Person` the component? note that when using `inject` or `observer([stores])`, a component get's actually wrapped around your component, so this might lead to a mismatch if you try to access component functions / props from outside. The wrapped (your original) component should be available as `.wrappedInstance` / `.wrappedComponent`. E.g: `Person.wrappedComponent.prototype.handleLike

[2016-09-26 20:05] mweststrate commented on #125
@arackaf ok :) ok to close the issue? (trying to keep up haha)

[2016-09-26 20:08] mweststrate commented on #127
@birkir can you share your babel setup (I now it has some plugins for alternative handling of default imports etc)? which babel version?

Anybody having the same issue?

[2016-09-26 22:30] birkir commented on #127
Sure, I'm working on the ueno. starter kit: https://github.com/ueno-llc/starter-kit

[2016-09-27 02:34] #125 closed

[2016-09-27 21:19] alisd23 commented on #12
Hi, I'm getting the same warning trying to fire an async action in a component which is being rendered on the server.

I'm trying to solve the problem of *waiting for async actions to complete on the server*, so the full rendered app is sent back to the client. But of course when an async action completes, the `renderToStaticMarkup` has already completed, thus the error.

Any thoughts on this? Cou

[2016-09-27 21:39] mweststrate commented on #12
this might be interesting: https://www.npmjs.com/package/mobx-server-wait

Op di 27 sep. 2016 23:19 schreef Ali Sheehan-Dare <notifications@github.com

[2016-09-27 21:42] alisd23 commented on #12
Yeah looks interesting. Thanks, I'll take a look.

[2016-09-28 05:33] mweststrate commented on #127
@birkir especially your first problem is very weird, this setup is here for half a year and used by many people. Even though uglified require calls to React should be resolved by your webpack setup. Your build setup is quite complicated, would you be able to boil it down to a minimal build setup?

I guess your mangle setup should exclude `require`, not `r`? Does the problem still occur without ugl

[2016-09-30 08:17] andykog commented on #127
Reproduced the issue with @birkir's starter-kit. Will find out why this happens.
Untill that pushed a quick fix: https://github.com/mobxjs/mobx-react/commit/e16633ee2f9a017d6236ee80fc3c62dc129dd7d4
Though, I don't like minifying code by default as well. Strange that uglify.js doesn't complain about being fed with compiled code and so the performance is suffering.

[2016-09-30 21:52] mkozhukharenko opened #129 "Wrong typings for 'observer' and 'inject'"
#### Observed:

compiling next component

[code]
gives an error:
[code]
So, it means that none of the provided 'observer' functions signatures match a component type.

New signatures for functions `observer` and `inject` should be added. Not sure which exactly.

For now I added a quick fix:
[code]

#### How to reproduce
This problem occurs when a static field `contextTypes` is added to the compone

[2016-10-01 18:08] optimatex commented on #112
@mweststrate thank u for ur answer. I'll try

[2016-10-01 23:17] birkir commented on #127
Thanks @andykog.

Well, I guess the reason why nobody has encountered this issue within the last half a year is because it happens randomly based on UglifyJs's tree stack and that few people have been using it in production with uglifyjs.

This happens with create-react-app from facebook as well when you add a few components and dependencies.

[2016-10-02 12:47] mweststrate commented on #127
@andykog @birkir yeah actually I can't think of a good to minify it as well, it only makes sense if people use it in production from a CDN. Do people still do that nowadays? @mattruby do you use mobx-react from cdn in production or bundle it?

[2016-10-02 13:08] mattruby commented on #127
I bundle everything using jawr.  I'll use the cdn in examples but not in production.

[2016-10-03 06:02] mweststrate commented on #129
@mkozhukharenko I was able to reproduce this one, but actually TypeScript gave me a compile error on `contextTypes` itself first. It seems that the type of contextTypes is not inferred correctly by TypeScript, which can fixed by declaring context types as:

[code]

That being said, in your example `propTypes` should be used, as `@inject` will take stuff from the context and inject it as `props` to

[2016-10-03 06:06] mweststrate commented on #127
Removed minification from build process and released as `3.5.7`

[2016-10-03 06:06] #127 closed

[2016-10-03 08:24] mkozhukharenko commented on #129
@mweststrate thanks for the response with detailed explanation.

[2016-10-03 08:24] #129 closed

[2016-10-05 20:15] #115 closed

[2016-10-06 05:50] mweststrate commented on #124
just took a shot at this one, by trying to make the `this.props` an observable reference. However that doesn't work out, because even if `shouldComponentUpdate` returns `false`, the nextProps props are still assigned to the component instance. So a straightforward `extendObservable(this, { props: asReference(this.props))` doesn't work out. Could be wrapping a getter / setter around it that only ac

[2016-10-06 18:03] mweststrate commented on #124
cool, just figured out how to do this [properly](https://github.com/mobxjs/mobx-react/commit/0bcf70bee3068a1b3df51b1969c28805625b59e5)!

Can be tried with build: `mobx-react@3.5.8-observableprops`. Not sure whether this is a really good or really bad thing to do :) but all tests succeed with it. Writing `componentShouldUpdate` is now even more pointless then ever.

[2016-10-07 13:38] ConneXNL commented on #111
This would be a great feature as it allows you to make components that are not strictly bound to mobx stores and you will be able to feed the components with only the stuff it needs directly.

[2016-10-08 12:48] mull commented on #43
I'll second this. Would it be possible to what rollup suggests here? https://github.com/rollup/rollup/wiki/jsnext:main

[2016-10-11 16:03] ConneXNL opened #131 "Custom reaction and React observer component cause a double render"
I am facing a problem where I am using a (custom) reaction to update an observerable array.

Both the data in the reactions' `() => data` and the observable array are used by React components. The problem is that the React components (which are observing) trigger before my custom reaction, causing a Render.

Then my reaction is called, which triggers an action which changes my observerable array w

[2016-10-14 13:36] stevenjob opened #132 "React should be a peer dependency"

[2016-10-14 14:23] andykog commented on #109
@Zcgong, I guess, your last question is about `react-native packager`, not mobx-react. Try to google `react-native packager transform-decorators-legacy`

[2016-10-14 14:23] #109 closed

[2016-10-14 14:27] andykog commented on #105
So I guess, this feature won't be implemented. @Strate, feel free to reopen if you have additional arguments/propositions

[2016-10-14 14:27] #105 closed

[2016-10-14 14:30] andykog commented on #113
Closing for inactivity.
@allces, feel free to reopen if you hame some reproducible example

[2016-10-14 14:30] #113 closed

[2016-10-14 14:39] andykog commented on #108
@ifokeev, thanks, added: https://github.com/mobxjs/mobx/commit/79e268d40add5a2f45029553477ad3a11a64bd8e

[2016-10-14 14:39] #108 closed

[2016-10-16 18:13] valorize opened #135 "@observable Map is not converted to ObservableMap"
Hi, I thought that everytime I add a \@obserable before my property name the underlying object / array / map is converted to an mobx datatype like ObservableMap is that the case?

[code]
I have to exchange new Map with new ObservableMap. Then this.models.set updates my view. In the documentation you also name asMap and map is it the same as calling new ObserableMap() ?

[2016-10-17 13:33] Strate commented on #124
@mweststrate thank you for investigation on this!
Unfortunately, there is a bug.
If function passed to the props, calling `this.props.propName` inside `render` method of component invokes that function. Seems that this happens because of `asFlat` usage [here](https://github.com/mobxjs/mobx-react/commit/0bcf70bee3068a1b3df51b1969c28805625b59e5#diff-08f3e9ab539253c87ea111cc61c69e29R76). Instead, con

[2016-10-18 10:38] mweststrate commented on #135
correct, `@observable models = asMap()` should be used here. `Map` is not supported on all ES5 environments and therefor not used atm.

[2016-10-18 10:38] #135 closed

[2016-10-19 16:39] pelotom commented on #124
As an alternative to this approach, I've been using the following simple utility in my own code:

[code]

Which can be used like so:

[code]

[2016-10-20 07:37] pelotom commented on #124
Until such time as props themselves can be observable, I've made a library for the above utility:

https://github.com/pelotom/mobx-component

[2016-10-21 00:48] mromanoff commented on #70
@mweststrate i followed your last post on this topic. and still getting warning.
**Mobx Injector: you are trying to attach propTypes to HOC instead of Actions. Use `wrappedComponent` property.**

here is my component:
[code]
am i missing something?

[2016-10-21 06:42] pelotom commented on #124
Never mind, I just discovered this approach has the flaw that `@computed` properties don't come through. I also just discovered #136 where it looks like you've figured out a more well-rounded solution to the problem!

[2016-10-21 07:37] Strate commented on #124
@pelotom could you please try use `mobx-react@3.5.8-observableprops.1`? I need to know if there is any issues.

[2016-10-21 08:08] pelotom commented on #124
Hm, it doesn't seem to work for me. Here's my test:

[code]

[2016-10-21 08:16] Strate commented on #124
@pelotom thank you for feedback.
As for your 1st case (where actual render is not the same as expected) - looks like a bug. Is it works with `3.8.4` stable version?
As for 2nd case - this is not intended to work - PR didn't fix it. You still need to dereference *inside* observer, not outside (as you do). I don't think that it is possible at all to get this case to work.

[2016-10-21 08:26] pelotom commented on #124
Ah, then I've misunderstood the point of this issue. I thought the point was to make it so we didn't have to wrap observables in a prop, but could pass an object with observable fields as the entire _set_ of props. That's what I'm trying to do with https://github.com/pelotom/mobx-component.

[2016-10-21 08:35] Strate commented on #124
@pelotom unfortunatelly, I think it is not possible to do without wrapper (as you suggested), or without some code transformation (such as a babel plugin).

Btw, by default, babel converts `<Component {...props} />` into `<React.createElement(Component, props)`. As you see entire `props` object passed to component's `this.props`. Seems like React itself perform obtaining shallow copy of props obje

[2016-10-21 08:42] pelotom commented on #124
Well good, I guess I didn't waste all my time making that :)

[2016-10-22 17:27] mweststrate opened #138 "Idea: Introduce `Observer` as higher order component"
Alternative syntax for using `observer` as decorator / higher order component:

[code]

Pros:
1. No need for wrapping function / decorator. Benefits of that:
   1. No / less issues with React component names
   2. No conflicts with other decorators
2. Doesn't influence / change lifecycle methods of `Component`
3. Marks a region as reactive
4. Fits nicely in the composability philosophy of React

C

[2016-10-23 03:51] urugator commented on #138
A little enhancement maybe?
[code]
Should work the same way, but one can provide any react component (aside from function) and pass props:
[code]

[2016-10-23 18:57] mohsen1 opened #139 "Can @observer detect an @injected component and throw an error?"
This happened to me in two cases, I had the `@observer` and `@inject` decorators order wrong.

[code]

Since `@inject` is wrapping the class, can it mark the class somehow that `@observer` can see and throw an error or warning that order of decorators are wrong?

[2016-10-25 17:36] doctyper opened #140 "observer function leaks memory on the server"
Wrapping a component in `observer()` leaks memory when rendering universally. This is due to [`componentWillMount`](https://github.com/mobxjs/mobx-react/blob/107277b9d5847bb3e87493f33681ee2c40a936c1/src/observer.js#L64-L113) creating a reaction that is never disposed, since [`componentWillUnmount`](https://github.com/mobxjs/mobx-react/blob/107277b9d5847bb3e87493f33681ee2c40a936c1/src/observer.js#L

[2016-10-26 20:29] dccarmo opened #141 "[react-native] Getting warning "object supplied, expected an array" when sending an array"
Here's my AppState class:

[code]

(This code is generated by TypeScript)

Notice the `routes` property, it's an Array. But when passing it:

[code]

I get the error:

![simulator screen shot oct 26 2016 18 27 31](https://cloud.githubusercontent.com/assets/638474/19743900/f0348bfe-9ba9-11e6-8477-1408b8abc255.png)

If I remove the `@observable` decorator, the warning goes away.

[2016-10-27 12:07] urugator commented on #141
Array is converted into ObservableArray, which is an object not an array:

https://mobxjs.github.io/mobx/refguide/array.html

Possible solutions:
a) not making an array observable by using `asReference` modifier
b) changing NavigationCardStack to accept one of the mobx provided PropTypes (e.g. PropTypes.observableArray)
c) passing an unobservable copy by using `slice()`

[2016-10-27 15:57] dccarmo commented on #141
Oh, that makes sense. Thank you for pointing that out.

[2016-10-27 15:57] #141 closed

[2016-10-28 06:13] mromanoff opened #142 "Prop validation throws a warning still an issue. Related to closed ticket #70"
Related to: Prop validation throws a warning when used on a decorated component expecting store #70

@mweststrate i followed your last post on this topic. and still getting warning.
**Mobx Injector: you are trying to attach propTypes to HOC instead of Actions. Use `wrappedComponent` property.**

here is my component:

[code]

am i missing something?
btw I'm using Babel

[2016-10-29 18:42] mohsen1 opened #143 "Is it possible to make Provider and @inject type safe?"
Currently `Provider` and `@inject` are using strings for providing stores and injecting them in components. Is it possible to use TypeScript generics to make sure that those strings are type checked by TypeScript compiler? Since strings can be their own types in TypeScript it should be possible to take advantage of that feature.

[2016-10-29 18:55] mohsen1 commented on #143
If `Provider` was a generic [as described here](https://github.com/Microsoft/TypeScript/issues/3960#issuecomment-165335501) it would be possible to make a custom type of all injected props with `type` operator

[code]

Then later when injecting

[code]

I don't know TypeScript well enough to say this is a proper way of making Provider and `@inject` type safe, any ideas?

[2016-10-30 17:24] iEchoic opened #144 "Request: @transaction"
Usually, when I'm doing something in response to user input, I want to change my state, but I don't want to repeatedly re-render while I'm running synchronous code. I solve this with `transaction`, like so:

[code]

It'd be cool if I could do this, which requires less boilerplate, reduces nesting, and doesn't clutter the component logic with state reconciliation logic:

[code]

[2016-10-30 17:31] #144 closed

[2016-10-30 17:31] iEchoic commented on #144
After more research, turns out that I just overlooked that @action is supposed to solve this problem. All is good without @transaction.

[2016-10-31 07:10] SagiMedina commented on #70
@mromanoff did you find any solution to this warning?
@mweststrate ?

[2016-10-31 07:11] SagiMedina commented on #142
@mromanoff did you find any solution to this warning?
@mweststrate Any thoughts?

[2016-10-31 16:06] mromanoff commented on #142
@SagiMedina sorry but i did not find any solution. for now I ignore this message.

[2016-10-31 20:28] mweststrate commented on #142
@mromanoff @SagiMedina just tried to reproduce this issue, but it worked for me without warnings. Could you setup a small reproduction? Are you using the latest `mobx-react` version?

[2016-10-31 20:31] mweststrate commented on #143
@mohsen1, I don't think your example will work (especially as strong typing Provider is actually not very interesting, it is on inject where you want to get the proper types). I think the closest way to get there is described here: https://github.com/mobxjs/mobx-react#strongly-typing-inject.

If you feel it can be better typed, feel free to submit a PR!

[2016-10-31 20:36] mweststrate commented on #140
@doctyper not a solution, but note that that not unmounting the `observer` components will only create a mem leak if the observables they use live longer then the request in which you render the components. Otherwise the used observables run out of scope as well, and the components should still be GC-ed

[2016-10-31 20:51] mweststrate commented on #139
Yep, good idea!

Any volunteer? Shouldn't be too hard I think. cc @delaetthomas

[2016-10-31 20:53] delaetthomas commented on #139
Yes, I will try to fix this one!

[2016-10-31 21:06] mohsen1 commented on #143
I liked the example in README but it's not as type safe as it should be. When you use `as` it's not really strictly typed! :)

If `Provider` and `inject` where under the same class, we could make that class a generic of store types:

[code]

But those are two independent functions that can't really share generic types without a bridge.

[2016-11-01 00:33] doctyper commented on #140
Hm, I'm not sure how accurate that statement is. We incorporated MobX into [react-wildcat](/nfl/react-wildcat) a few weeks ago, and within the hour we observed an enormous amount of leaked memory that was not being garbage collected.

The leak was mitigated when I added the fix to bail on the server.

[2016-11-01 04:49] mromanoff commented on #142
@mweststrate thank you for quick response. Due complexity of this project I'm working on and running on local environment only. I can send you link to public repo if this helps.
API: https://github.com/mromanoff/therapy-match-api
FE: https://github.com/mromanoff/therapy-match
Let me know if you can quick spot the issue. If not then I need to deploy this project on Heroku or Digital Ocean.

Current

[2016-11-01 22:36] simpixelated opened #145 "Possible to add something like shape to PropTypes?"
Is it possible to add something like [React.PropTypes.shape](https://github.com/facebook/react/blob/14156e56b9cf18ac86963185c5af4abddf3ff811/src/isomorphic/classic/types/ReactPropTypes.js#L381) for mobx observable objects? I'm assuming if it was easy it would have already been done! 😄  The [current PropTypes](https://github.com/mobxjs/mobx-react#proptypes) are great! However, I'm having to replace

[2016-11-02 19:23] marty-wang opened #147 "why published package does not have minified version?"
npm module as well as CDN only have non-minified code. Why no minified version?

[2016-11-02 20:05] mweststrate commented on #147
The majority of React projects bundle using webpack. Minifying after bundling your complete project usually gives a better developer experience.

[2016-11-02 20:18] marty-wang commented on #147
I was hoping to use CDN for external libs, instead of bundling them with my app. but regardless, why not just minify it, and leave the developer to decide how to use it? I assume minification should be quite trivial.

[2016-11-02 20:23] mweststrate commented on #147
@marty-wang I have no problem with adding that, it's just that so far nobody needed it. Seems CDN's are mostly interesting for PoCs and demo's, and less used for production apps.

Feel free to create a PR, or leave this issue open so that somebody else will pick it up :) Which flavors would be interesting for you, I assume only the default HTML renderer is interesting?

[2016-11-02 20:26] marty-wang commented on #147
yes. only html renderer should be fine. Thanks.

[2016-11-02 20:49] #132 closed

[2016-11-02 20:50] mweststrate commented on #145
Just wondering, isn't it composable with react's shape system already? Or could you give some examples where not?

[2016-11-02 20:51] mweststrate commented on #143
Yep, and there might be many different configs of Provider and inject in the same app. Unless somebody has a genius idea, I do't think this is feasible

[2016-11-02 20:51] #143 closed

[2016-11-02 20:57] mweststrate commented on #140
@doctyper what would you think about having a global mobxReact setting, that changes this behavior on the fly? This is because trying to detect it automatically might interfer with Jest / Enzyme tests etc that are run 'server side'.

For example:
`mobxReact.useServerSideRendering(true)` ?

[2016-11-02 21:00] mweststrate commented on #131
@ConneXNL note that it is generally speaking an anti pattern to invoke an action from a reaction, although there are some good usecases. Can you elaborate on yours? Usually it is cleaner to use computed values.

Could you provide your (simplified) use case?

[2016-11-02 21:12] mattruby commented on #140
I think that flag would work well.

On Wed, Nov 2, 2016 at 3:57 PM, Michel Weststrate <notifications@github.com>
wrote:

--
-Matt Ruby-
mattruby@gmail.com

[2016-11-02 21:32] doctyper commented on #140
As long as it's opt-in, yes that would work well indeed.

[2016-11-02 22:06] simpixelated commented on #145
You're right! I was thinking I would gain some benefit from swapping `shape` for `observableObject`, but in practice I suppose I can continue to use shape to check the nested properties of an observable object.

I was trying to do:
[code]

But there's no reason I can't continue to use:
[code]

Closing this. Thanks for the response @mweststrate!

[2016-11-02 22:06] #145 closed

[2016-11-02 23:04] alexhisen commented on #145
Currently we have to use:
Notification.propTypes = {
  observable: React.PropTypes.shape({
    active: React.PropTypes.bool.isRequired,
  }).isRequired,
};
A propTypes.observableShape is what we need, I think.

[2016-11-03 21:29] anri-asaturov opened #148 "@observer component ignoring rootComponent.forceUpdate()"
Excuse me if my question seems a bit vague, but there is too much code and it is too complex to demonstrate.

Long story short:
- I have a react app using latest stable versions of react, react-router and mobx.
- Some of the components are `@observer` some not.
- Root component (the one that is rendered by react router and is always mounted   `<Route path="/" component={Root}>...`) has a `reaction

[2016-11-03 21:42] mweststrate commented on #148
Afaik `forceUpdate` is not a recursive process, it only causes one component to update.
`observer` components will rerender if they either receive new props, or observables they use change.
Triggering a forceupdate from a reaction sounds quite strange to me. Could you express why you need that?

note that `reaction(() => expr, () => this.forceUpdate)` is effectively the same as just calling `expr(

[2016-11-03 21:54] anri-asaturov commented on #148
Eh, you are right, looks like forceUpdate only skips shouldComponentUpdate for the component it has been called on.

The whole system is about changing app's locale on-the-fly, worked perfectly before (didn't use mobx then).
[code]

[2016-11-03 22:01] andykog commented on #148
@anri-asaturov, you can implement this in a more mobx-friendly way:
[code]

then all the components that use `languageStore.localize('someKey')` will be automatically updated without need to call forceUpdate on `language` update.

[2016-11-03 22:01] mweststrate commented on #148
ah so `t('key')` does *not* use `langaugeStore.language`? Yeah that kinda breaks the model, since your doing effectively double bookkeeping ;-). You could redefine t like:

[code]

[2016-11-03 22:07] anri-asaturov commented on #148
As i said, 't' is a separate minimum-dependency library.

Thanks everyone, my main mistake was an assumption that sCU will be skipped for the entire tree, now it's all good, thanks! :-D

[2016-11-03 22:07] #148 closed

[2016-11-04 13:21] louy opened #149 "Warning: forceUpdate(...): Can only update a mounting component"
With server-side rendering, I'm getting this warning a lot:

[code]

I think the issue is that `observer` starts listening for changes on `componentWillMount` and stops on `componentWillUnmount`. However, `react-dom/server` never calls `componentWillUnmount` as the component is never mounted in the first place.

I'm not sure how to solve this to be honest, but the way it works right now probably h

[2016-11-04 13:58] mweststrate commented on #149
See #140, a feature will soon be added to stop subscribing to data changes on the server.

[2016-11-04 13:58] #149 closed

[2016-11-06 16:59] delaetthomas commented on #139
@mohsen1 this issue is fixed now.

[2016-11-06 16:59] #139 closed

[2016-11-06 18:29] Strate opened #151 "Brand new type of component store injection"
Hey all. I want to suggest you new, good from typescript view store-to-component injection mechanism.
This is working example:

[code]

*Implementation details*

Thanks to typescript `emitDecoratorMetadata` feature, information about type of `RootComponent.store` available at runtime. So, `@inject` decorator can define getter at that field, which gather `Store` instance from context. Context provi

[2016-11-07 03:42] kennynaoh commented on #118
@mweststrate , hmm I just try to confirm which files need to be host. So I will add `custom.js`, `index.js` and `native.js`, right?
If yes, I will add this library ASAP.
Thanks!

[2016-11-07 19:02] mweststrate commented on #140
Released as `3.5.9`, call is `useStaticRendering(true)`, which is more descriptive I think. Let us know if that doesn't solve the issue!

[2016-11-07 19:02] #140 closed

[2016-11-07 19:02] #123 closed

[2016-11-07 19:05] mweststrate commented on #99
@aksonov ok to close this issue? I guess it is not urgent anymore after two months ;-). Otherwise please provide a reproduction :)

[2016-11-07 19:07] mweststrate commented on #118
@kennynaoh correct, thanks!

[2016-11-07 19:07] #118 closed

[2016-11-07 19:21] mweststrate commented on #151
@Strate I think it looks cool! I would only consider the decorator version, for non-typed environments without decorators the old syntax is fine I think.

[2016-11-08 02:25] kennynaoh commented on #118
My pleasure.
Another question want to ask.
We also need to maintain old version of library, but both `custom.js` and `native.js` are not exist in some of old versions on git repo.
I just want to confirm whether it's fine to add only `index.js` in some of old versions.
Thanks!

[2016-11-08 05:36] mweststrate commented on #118
that is no problem

Op di 8 nov. 2016 03:25 schreef naoh <notifications@github.com>:

[2016-11-08 06:04] kennynaoh commented on #118
Thanks!

[2016-11-08 06:39] mweststrate opened #155 "Clean up unit tests, setup babel / jest"
The test suite is currently a quite messy, primitive ES5 only environment. If somebody feels for cleaning and modernizing it, welcome :)

[2016-11-08 15:44] mweststrate commented on #138
@urugator personally I think that is a bit confusing to read?

[2016-11-08 19:33] Strate commented on #111
I think that it could be considered as a bug. This is really annoying to developer, when reactive library became non-reactive (does not trigger re-render on some cases). I think we should reduce that cases as much as possible.

[2016-11-08 20:21] nbrady-techempower opened #156 "Several "global" stores and a local store. Proper way?"
The current structure I have seems to be working correctly *most of the time* but I'm having issues that make me wonder if I'm structuring things properly. The project is using ES6/ES7 syntax.

I have a few mobx global stores that I'm passing down through a provider. These are stores that a large chunk of my application needs to know about. Then I have "local" stores to manage the state of each co

[2016-11-08 22:50] urugator commented on #138
@mweststrate Its the same as in your example, you can still write the render callback inline, it just exploits the fact that render callback is actually valid react (stateless) component (also the restrictions are the same - for example the render callback must return single react element). So you can replace render callback by any smarter (class based, unobservable) react component anytime.
I jus

[2016-11-09 06:48] SagiMedina commented on #142
@mweststrate Please take a look here, https://github.com/SagiMedina/system_dashboard
I have 6 warning messages, one for every store injection.

[2016-11-09 06:56] SagiMedina commented on #142
Never mind, adding the wrappedComponent to the props validation fixed it.

[2016-11-09 07:56] mweststrate commented on #111
@ConneXNL  / @Strate I think it would allow for things like:

[code]
But, then

[code]
Might just be more straight forward?

On the other hand, it might be confusing for people, especially coming from Redux, that injecting like this doesn't work (changing the counterStore does not re-render Counter, because `inject` itself is not observer:

[code]

(see: http://stackoverflow.com/questions/39128210

[2016-11-09 09:15] mweststrate commented on #142
@mromanoff you still seem to attach the propTypes to Search, so the warning is correct? https://github.com/therapymatch/therapymatch-fe/blob/e1e90d6b48b1fd80fb9fd6d6e3d330d7057ea2d6/src/components/Search/Search.js#L60

[2016-11-09 09:16] mweststrate commented on #138
@urugator you might be right, gonna give it a try :)

[2016-11-09 10:00] mweststrate commented on #131
Closing for lack of activity / reproduction. Feel free to re-open with more info.

[2016-11-09 10:00] #131 closed

[2016-11-09 10:05] mweststrate commented on #43
@mull feel free to open a PR? don't have any particular experience with rollup

[2016-11-09 18:38] mweststrate commented on #111
@ConneXNL you can try the reactive `inject` with build `mobx-react@4.0.0-beta.2`. The signature of the mapper function `(stores, props, context) => newProps` is unchanged

[2016-11-09 18:45] mweststrate commented on #156
can you elaborate on "ViewsStore's observables change, the corresponding props don't always change"? What are "corresponding props"? Can you share some simple code maybe?

[2016-11-09 19:01] mweststrate commented on #142
That being said, `mobx-react@4` will probably redirect the property, instead of giving a warning, which is more convenient to work with:)

[2016-11-09 20:31] nbrady-techempower commented on #156
@mweststrate The observables in ViewsStore that are being injected into HeaderBlock aren't updating when I change them via some action in ViewsStore. At first glance does the pattern I'm using make sense?

https://github.com/everlib/everpaste/tree/eacdadab12f514ace73c867056210f4e457c5361/src

This is the state I'm currently at. There might be a thing or two out of place, like I have `componentWill

[2016-11-09 20:45] KaySackey commented on #138
I like it, so long as it doesn't become the default. More options for integration are better for a library, and lots of people (though not I), prefer using HoC style in React. Personally, though, I simply have a top level component that subclasses React.Component, and applies @observer onto it, then all my application components extend from that.

[2016-11-10 08:20] mromanoff commented on #142
@mweststrate oh... my assumption was that I need to use .wrappedComponent only for "inject", "observer" store props but not for the other props. route props etc.

I had before:
[code]
I have now:
[code]
it fixes the warning.
thank you for help.

[2016-11-10 15:51] mweststrate commented on #156
do you have local stores that are passed down, and then stored in local reference the child components? (e.g. some thing like `this.myBeaufifulStore= this.props.BeautifulStore` in `constructor` or `componentWillMount`? That might play tricks with you even new props are passed down, but `this.myBeautifulStore` isn't updated accordingly

[2016-11-10 16:16] mweststrate commented on #156
I think `componentWillReceiveProps` is the proper hook here: https://github.com/everlib/everpaste/blob/eacdadab12f514ace73c867056210f4e457c5361/src/components/blocks/HeaderBlock/HeaderBlock.jsx#L20

Did you check https://mobxjs.github.io/mobx/best/react.html btw? Is your project locally runable?

[2016-11-10 16:18] mweststrate commented on #156
Ah and double check, are all components that render observables marked with `observer`? Besides that general setup seems fine

[2016-11-10 16:25] mweststrate commented on #156
btw could you try mobx-react@4.0.0-beta.2 ?

[2016-11-10 18:33] nbrady-techempower commented on #156
Yes on all counts. I've read through that section of the docs. Fixed the lifecycle hook. Tried the beta candidate. And it looks like everything that should have `observer` does. The curious thing is, the console displays this error message:

[code]

Yet it will still execute. I'm wondering if it had something to do with the way I was handling the `current` observable object in ViewsStore. The proj

[2016-11-10 18:39] aksonov commented on #99
Just found that latest 3.6.2 solves issue, thanks!

[2016-11-10 19:02] #99 closed

[2016-11-10 19:06] mweststrate commented on #156
The error seems correct? https://github.com/everlib/everpaste/blob/eacdadab12f514ace73c867056210f4e457c5361/src/components/views/Views.store.js#L31 Where / how do you update `current` ?

[2016-11-10 19:33] nbrady-techempower commented on #156
https://github.com/everlib/everpaste/blob/eacdadab12f514ace73c867056210f4e457c5361/src/components/views/PasteView/PasteViewStore.js#L13-L16

In the store of the first component that's rendered. PasteView is the sibling of HeaderBlock.

[2016-11-10 19:34] nbrady-techempower commented on #156
Is what I'm expecting incorrect? I'm expecting that when the PasteViewStore is constructed, it will update ViewsStore and the HeaderBlock link will now hold the proper function.

[2016-11-10 19:45] mweststrate commented on #156
Depending on the rendering order of components is a very error prone abstraction to make, I would be careful with that, and inverse the reasoning: first construct your stores etc based on the new state, and then render. That makes testing etc also a lot easier.

But for now you could start by simply checking is the the constructor of the `PasteViewStore` run before the one from HeaderBlock? And is

[2016-11-10 23:21] A-gambit commented on #155
@mweststrate I can help to improve this case on weekends) Is it still actual?

[2016-11-11 00:34] nbrady-techempower commented on #156
Oh, yeah that line ` this.props.ViewsStore.current.text : '';` is part of a ternary operation

[code]

I guess the whole idea of constructing stores based on the new state is where the whole thing gets convoluted for me if you have multiple local stores for sibling components that all share a global store. The Header is constructed, passes it's props into HeaderStore. HeaderStore changes the globa

[2016-11-11 09:06] mweststrate commented on #155
Yep! Feel free to pick tools which seem suitable. But I think it is important that a part of the tests will still be run in a real browser environment, and that it is easy to debug in a browser environment, to make sure mobx-react properly works together with Reacts batched rendering / rendering queueing etc. (so far that seemed easier with tape-runner then jest)

I'll add you to the org so that y

[2016-11-11 14:09] A-gambit commented on #155
@mweststrate thank you. I will create a branch from `v4` and will start test refactoring on the weekends.

[2016-11-11 15:17] mweststrate commented on #138
@urugator played with your suggestion, but it was more confusing to read, and also kill static typing on props etc. So I'll keep it as is. Thanks for the suggestion though :)

[2016-11-11 15:23] mweststrate commented on #147
This change can be tested with  `mobx-react@4.0.0-rc.1`

[2016-11-11 15:25] mweststrate commented on #142
I've made the distinction between HoC's and non-HoC's more clear in `mobx-react@4.0.0-rc.1` and removed the warnings. It is now allowed to define the propTypes on the HoC again. But note that you cannot check for the presence of your stores there, for that you will still need `.wrappedComponent`.

[2016-11-11 15:25] mweststrate commented on #138
Implemented in `mobx-react@4.0.0-rc.1`

[2016-11-11 15:26] mweststrate commented on #124
Can be tested with  `mobx-react@4.0.0-rc.1`

[2016-11-11 15:30] mweststrate commented on #120
Addressed this issue in mobx-react 4. Hoisting is not possible the other way around, as it leads to highly confusing / ambigious scenarios (initially tested that, see the discussion on this commit: https://github.com/mobxjs/mobx-react/commit/666577b41b7af8209839e7b243064a31c9951632

Instead, improved the docs to explain these scenarios better.

[2016-11-12 21:00] henriklundgren opened #159 "Using unsubscribed data structure"
How to listen to changes in any unsubscribed structure, i.e.

[code]

[2016-11-12 21:28] mweststrate commented on #159
@henriklundgren so far the question is quite unclear to me, can you make your example a bit more complete ;-) ? Do you have a real life example / scenario?

[2016-11-13 05:29] henriklundgren commented on #159
Sorry about that.
The current solution works, though, I guess I am looking for input.

In the example below I am using the value from the observable,
but that is not the case for production code.

[code]

[2016-11-13 12:04] mattruby commented on #159
That's pretty confusing with the props.state. Would you cut a fiddle
showing your issue and I'll try to fix it for you.

On Nov 12, 2016 11:29 PM, "Henrik Lundgren" <notifications@github.com>
wrote:

[2016-11-13 13:08] mweststrate commented on #159
@henriklundgren the interesting question here is: why are you manipulating DOM nodes by hand? You break out of the React component abstraction here, and as a result out of mobx-react as well. If you want this, using `observe` or `autorun` is indeed the way to go (but make sure to clean up the subscriptions on `componentWillUnmount`!)

But foremost I would try to stay within the React system, using

[2016-11-13 18:50] henriklundgren commented on #159
@mattruby Refering to Main? Well, I left out the render method (and also the dependencies :) ).

[code]

@mweststrate Thanks, reassuring to hear one is one the right path.
For the sidenote,... no reason, I should have, I could have. :)

But to be fair its not really a component in a component, React accepts, either, a VNode/null, or, a object with at least a render method that returns a VNode/null

[2016-11-14 05:56] #159 closed

[2016-11-14 08:41] #155 closed

[2016-11-14 16:06] ConneXNL commented on #111
As discussed on gitter. The following problem occurs that incorrectly re-renders observable components:
https://gist.github.com/ConneXNL/32f65c708efb61af3e3e2d6f2df4aa4c

[2016-11-14 22:20] mweststrate opened #160 "Question: should `observer` always apply pure?"
Currently `observer` tries do a shallow comparison on next available properties. However if there is a data structure (object) passed into the props which is not an observable object, mobx-react assumes it might have been deeply mutated (similar to the assumption react makes) and re-renders to not take any changes.

Sometimes this is confusing for people, as they might expect shallow / pure compar

[2016-11-14 22:27] mweststrate commented on #160
Ok, asking the question is answering it I think.

[2016-11-14 23:01] andykog commented on #160
@mweststrate,
1. This behaviour can be configurable like in redux connect.
2. Or `mobx-react` can export `pureRendering` checker (or `dirtyRendering` depending on what to choose as a default behaviour, so one can use it like:
[code]
I would be comfortable with `pure` by default

[2016-11-16 14:35] mweststrate commented on #156
You might find this an interesting read: https://medium.com/@mweststrate/how-to-decouple-state-and-ui-a-k-a-you-dont-need-componentwillmount-cc90b787aa37

I think your current setup is quite sensitive changes in your component tree, as that would influence the order in which your store methods are invoked. For routing you are not per se dependent on having components mounted. I think that is a con

[2016-11-16 14:35] #156 closed

[2016-11-16 16:06] nbrady-techempower commented on #156
Helps a ton @mweststrate. Thanks again for this and all the open-source work you guys do!

[2016-11-17 10:28] ConneXNL commented on #111
My problem is fixed with https://github.com/mobxjs/mobx-react/issues/160  .

However, the mobxjs/mobx-react-devtoolss does log 'inject-MyComponent#0.render()' to the console (if enabled) and all the elements highlight that are related to the injected property.

As far as I know this wasn't the case before and is not intended?

[2016-11-17 13:18] mweststrate commented on #111
@ConneXNL that is a result of making selectors reactive, if you pass a function into inject, it becomes an observer component as well, which is correct as you probably want to see that one reaction as well when needed(?) Might be changed indeed later, but at least not in the 4.0 release directly (there is an open todo / idea for that in the code)

[2016-11-17 15:18] ConneXNL commented on #111
I can see that being the case with the logging + You are able to disable the logging yourself  by applying a filter.

However, I feel that for highlighting the elements it's not a good default to have them blink even though the render() method of the actual component isn't triggered.

[2016-11-18 12:10] vonovak opened #161 "Mobx observer: You are trying to use 'observer' on a component that already has 'inject'."
I'm developing with RN and getting this: Mobx observer: You are trying to use 'observer' on a component that already has 'inject'. Please apply 'observer' before applying 'inject'.

This is present on both 3.5.9 and 4.0.0.-rc.3

all Components that use both observable and inject in my project have it used in this order:
[code]

[2016-11-18 12:17] mweststrate commented on #161
do you use inject with a function somewhere?

Op vr 18 nov. 2016 13:10 schreef Vojtech Novak <notifications@github.com>:

[2016-11-18 12:26] vonovak opened #162 "RN: unable to resolve react-dom on 4.0.0-rc3"

[2016-11-18 12:49] mweststrate commented on #162
are you requiring from mobx-react/native ?

Op vr 18 nov. 2016 13:26 schreef Vojtech Novak <notifications@github.com>:

[2016-11-18 14:59] vonovak commented on #162
Yes, I am. I did npm i of mobx-react rc3 and got this error. I looked at the native.js file and saw "react-dom" directly in there, around line 140 if i remember correctly.

[2016-11-18 15:00] vonovak commented on #161
not that I'm aware of, no. But I do use some other decorators too, maybe that could be the trouble. Will get back to it later

[2016-11-18 15:34] mweststrate commented on #162
@vonovak ok thanks for reporting, I'll investigate it! It should be stubbed :(  https://github.com/mobxjs/mobx-react/blob/83e7e93fb202b90b813184e60ee567f1026b22a7/webpack.config.js#L26

[2016-11-20 20:33] mweststrate commented on #162
Could you try `4.0.0-rc.4`?

[2016-11-21 16:44] #162 closed

[2016-11-21 18:38] #147 closed

[2016-11-21 18:44] mweststrate commented on #161
If others also run into this, please report!

[2016-11-21 18:44] mweststrate commented on #160
Released as part of 4.0.0

[2016-11-21 18:44] #160 closed

[2016-11-21 18:45] mweststrate commented on #142
4.0.0 has been released :)

[2016-11-21 18:45] #142 closed

[2016-11-21 18:46] mweststrate commented on #138
Shipped with 4.0.0 :)

[2016-11-21 18:46] #138 closed

[2016-11-21 18:47] mweststrate commented on #124
Shipped with 4.0.0 :)

[2016-11-21 18:47] #124 closed

[2016-11-21 18:47] mweststrate commented on #111
Shipped with 4.0.0 :)

[2016-11-21 18:47] #111 closed

[2016-11-21 18:48] mweststrate commented on #120
4.0.0 has been released, closing the issue

[2016-11-21 18:48] #120 closed

[2016-11-22 10:48] farwayer opened #163 "Inject syntax (render error)"
Are you sure new `inject(fn, Component)` syntax is correct? I am getting error:
[code]

All ok with `inject(fn)(Component)`.

[2016-11-22 16:22] mweststrate commented on #163
correct, where did you see this? would you mind creating a PR with a fix?
tnx!

Op di 22 nov. 2016 11:48 schreef farwayer <notifications@github.com>:

[2016-11-22 16:33] farwayer commented on #163
Very simple example
[code]

`TestInjectedError` throws error.

[2016-11-22 17:01] farwayer commented on #163
I didn't find any code for supporting such `inject` method signature. So look like it's documentation issue. Am I right? If so I can provider PR.

[2016-11-22 17:20] timmolendijk opened #164 "`useStaticRendering` is missing from TS type definion file (`index.d.ts`)"
At least in the current latest version: 4.0.0

[2016-11-22 17:44] timmolendijk opened #166 "TS type definitions `index.d.ts` should include support for using `inject` with `React.StatelessComponent`"
Otherwise TS will not allow writing something along the following lines:

[code]

This applies to the current latest version: 4.0.0

[2016-11-22 20:48] #163 closed

[2016-11-22 20:53] mweststrate commented on #166
Thanks! Released as `4.0.1`

[2016-11-22 20:53] #166 closed

[2016-11-22 20:53] mweststrate commented on #164
Thanks! Released as `4.0.1`

[2016-11-22 20:53] #164 closed

[2016-11-22 22:41] le0nik opened #168 "mobx-react@4.0.1: _mobx2.default.extras.setReactionScheduler is not a function"
`extras` is exported here https://github.com/mobxjs/mobx/blob/e32ed8283a493de3a385a2e3a5d69d9303cd49ee/src/mobx.ts#L71

and `setReactionScheduler` is used here https://github.com/mobxjs/mobx-react/blob/master/src/index.js#L17

`extras` should be imported like this instead: `import { extras } from 'mobx';`

This error is not present in mobx-react@3.5.9

I'm using webpack@2 and babel config without

[2016-11-23 07:55] mweststrate commented on #168
@le0nik could you verify that `mobx-react@4.0.2-rc` solves the issue?

[2016-11-23 13:05] le0nik commented on #168
It does.

[2016-11-23 13:12] mweststrate commented on #168
Released as `4.0.2`. Thanks for reporting!

[2016-11-23 13:12] #168 closed

[2016-11-24 16:03] mweststrate opened #170 "[idea] Introduce statefulFunctionComponent?"
Is this an interesting pattern to introduce? Makes stateful components syntactically a lot more similar to stateless function components. But maybe another syntax is just confusing

demo: http://jsbin.com/camuzip/edit?html,js,output
also needs beter name

[code]

[2016-11-24 16:24] chauthai opened #171 "After upgrade to 4.0.0: Can't get instance of React component using enzyme"
I've just updated from 3.5.9 to 4.0.0 and a test that worked fine stopped working with 4.0.0.
I can't get a instance of the observing React component to manipulate an observable.

The enzyme [instance()](https://github.com/airbnb/enzyme/blob/master/docs/api/ReactWrapper/instance.md) function of the [mount wrapper](https://github.com/airbnb/enzyme/blob/master/docs/api/mount.md#mount--reactwrapper)

[2016-11-25 06:38] csepulv opened #172 "forceUpdate(...) warning though not using constructor setting of state (set setting initial state)"
I get the "forceUpdate" warning referenced in the FAQ, but I am not setting any state in the constructor. I am setting state in componentWillUpdate, but this is a constant value that doesn't come from an observable.

I am only using a value from an observable, in render, that is being read from props (nested object read).

I can provide a stripped down version of my project that would reproduce th

[2016-11-27 08:41] huashiyiqike opened #173 "break change?"
MobX Provider: Provided store 'currentCount' has changed. Please avoid replacing stores as the change might not propagate to all children

[code]
I have tried these, however this warning still exists. what should I do?

[2016-11-27 08:48] mweststrate commented on #173
@huashiyiqike this relates to your `Provider` component, probably you are doing something like `<Provider currentCount={Store.currentCount} />`. Instead use `<Provider store={Store}/>`  and dereference the `currentCount` in the component that actually needs it

[2016-11-27 08:49] mweststrate commented on #172
@csepulv please provide a reproduction :)

[2016-11-27 08:54] mweststrate commented on #171
@chauthai are you using `inject` (or still using `observer("store name", component)? Note that mounting a HoC wrapped component returns the HoC, not the original component (which can be accessed through the  `wrappedInstance` property). Otherwise, please provide a reproduction :)

[2016-11-27 08:54] mweststrate commented on #161
Closing for now, please reopen if others run in this as well

[2016-11-27 08:54] #161 closed

[2016-11-27 09:05] huashiyiqike commented on #173
My Provider is written as follows, seems to be right

[code]

and the hoc outside MyComponent is this
`@inject('Store') @observer`

[2016-11-27 09:18] mweststrate commented on #173
Note `new Store()`  is tricky, because if the component that created `Provider` re-renders, you will et a new store each time. Creating a store as side effect of your render could easily lead to confusing scenarios.

Could you provide a small reproduction, for example by by forking this bin? http://jsbin.com/camuzip/edit?js,output

[2016-11-27 10:54] huashiyiqike commented on #173
just put it on heroku with compiled source-map enabled,  [react-ppt](https://react-ppt.herokuapp.com/). click 'O' button to play, and navigate backward and forward, the console with print this information. it happens on line 66 in ppt.js

 case 27:
                    _this.setState({
                        isPlaying: false
                    });
                    break;
                defaul

[2016-11-27 16:47] omaksi commented on #168
Having the same issue with `4.0.3` but only when using `yarn` to install, when using `npm` it works fine.

[2016-11-27 21:53] csepulv commented on #172
I invited you to a repo. let me know if you have any questions

[2016-11-28 12:05] chauthai commented on #171
I've found the error in my tests. I reassigned my `model/store` with a new mock instead of the properties that should change, thus the dependency graph didn't work anymore.

I will close this issue.

[2016-11-28 12:05] #171 closed

[2016-12-01 00:35] timmolendijk opened #174 "Type definition for `inject` does not support outer props signature being different from inner props signature"
This will work:
[code]

This will not work:
[code]

The culprit is the type definition of `inject` assuming that the signature of the wrapped component is the same as the signature of the created (wrapping) component.

[2016-12-01 02:20] mweststrate commented on #168
@omaksi doublecheck, isn't your dep pinned? Maybe throw away your lockfile are use yarn update?

[2016-12-01 20:26] mweststrate commented on #172
Sorry for the late response and thanks for the clear reproduction! Just checked the repo and the issue is correct. You are actually doing side effects in your rendering, which should be avoided. Use lifecycle hooks like `componentWillMount` instead. The following components are confusing their rendering with actions they want to invoke when being rendered:

[code]

[2016-12-02 07:47] csepulv commented on #172
Thanks for the reply. I think I am confused on lifecycle. In the following,
[code]
...my understanding is that **reset**, which changes state, updates all observers synchronously. The observing components only reference their props, so I would have thought they are only referencing  stable state, as render would occur after the synchronous state update.

What am I missing? I am sorry if I am askin

[2016-12-02 12:11] Niryo opened #176 "Issues with Inject while using enzyme's shallow mount for testing"
Hi,
Im trying to use enzyme's shallow mount for testing a component, but the problem is that shallow mount can only have one children so I can't wrap the tested component with a provider, what causes the inject function to throw an exception.

Is there a way to make Inject fail gracefully?
In my tests I want to create the component without the provider and just pass a mocked store directly via the

[2016-12-03 15:11] mweststrate commented on #176
In it self `inject` can work without provider, just pass in the store explicitly as properties with the same name when creating the component.

However in this specific case that probably won't do, as shallow rendering will then just render the higher order Inject component, and not your original component. So instead you should use the `wrappedComponent` property. Example:

[code]

should do the

[2016-12-04 13:25] Niryo commented on #176
Perfect, thanks!

[2016-12-04 13:25] #176 closed

[2016-12-06 00:33] mweststrate commented on #172
What you are missing here is that you want is _technical_ not incorrect, but _conceptually_ it is and goes against one of the core principles of react: render is side effect free. React it smart enough to detect that, and hence it warns you.

As a direct effect of your rendering `LoadEmptySearch`, you change the state, causing a new render. With this pattern it is trivial to trigger an 'unendless'

[2016-12-06 03:21] csepulv commented on #172
Thanks for the info. You can consider this closed (at least from my perspective).

[2016-12-08 19:57] #172 closed

[2016-12-09 02:30] AlexanderMattoni opened #177 "useStaticRendering not present in TS definitions in v3.5.9"
Saw that this feature was added recently, and is indeed in the index.js file of my installed version of mobx-react, but I'm unable to import it in my Typescript project, it seems it's not in the definition file.

Any help appreciated, thanks!

[2016-12-09 03:01] AlexanderMattoni commented on #177
Updated to 4.0.3 and it's there!

[2016-12-09 03:01] #177 closed

[2016-12-09 14:17] leudanielm opened #178 "Enzyme's shallow() doesn't recognise the component when decorated with both @observer and @inject"
So the workaround for this was usually to use `@observer(['store1', 'store2'])`. Since this approach is now deprecated and probably will be removed at some point, this will be quite an issue.

This is the error:
`Invariant Violation: Component(...): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.`

As soon as I remove one of

[2016-12-09 15:38] mweststrate commented on #178
see the recently closed issues

Op vr 9 dec. 2016 15:17 schreef Daniel Leu <notifications@github.com>:

[2016-12-09 15:58] mweststrate commented on #178
(on mobile) short answer use .wrappedComponent

Op vr 9 dec. 2016 16:38 schreef Michel Weststrate <mweststrate@gmail.com>:

[2016-12-09 17:19] urugator commented on #170
The point of functional components is not the possibility to write a class as a function, but a realization, that stateless component is so simple that it needs only single method, so it's unneccessary to introduce a class.
In other words the component expressed as a function is a consequence, not the initial goal.
However, what you have presented is complex enought to be rather expressed by class

[2016-12-09 19:41] leudanielm commented on #178
Thank you!

[2016-12-09 19:41] #178 closed

[2016-12-12 06:50] mweststrate commented on #170
I agree with you largely, especially and extensible `ObserverComponent` or something like that would be convenient to have (although it composes badly, I don't like it when other libs require you to extend something other than Components, that leads to inheritance classes sooner or later).

But while using and playing with the above pattern, one thing I found much clearer than with normal react cl

[2016-12-12 06:54] mweststrate commented on #173
@huashiyiqike is this still an issue, as I saw your implementation was updated?

[2016-12-12 10:18] huashiyiqike commented on #173
without luck
I found that with `Provider Store={new Store()}`, this Store is deemed to be fixed. (I didn't create multiple new Store, it is called once)
[code]
this will check all properties in this Store, which include the observable I need to change, and the warning shows if the observable is changed.

I didn't change the Store, but the observables inside it. I am just guessing, maybe all checks

[2016-12-12 14:15] mweststrate commented on #173
@huashiyiqike you create a smaller isolated case for this? Because the above code does not deep compare, it only checks of you provided the same store instances to `Provider` each time.

Note that if [this](https://github.com/huashiyiqike/react-ppt/blob/master/app/ReactPPT.tsx) component ever re-renders, it will provide a completely fresh store, triggering the above error. Probably it is safer to

[2016-12-13 03:53] huashiyiqike commented on #173
It didn't re-render in my case. I debugged it in the browser console. Shallow compare will think Provider {currentCount:1} and Provider {currentCount:2} are different, even if it is the same object, which is the case for the warning.

[2016-12-14 23:30] mxmtsk opened #180 "Context not passed with decorator"
This may be a correct behaviour but it seems strange to me - so forgive me if I'm talking complete nonsense here, I'm still a beginner :P

I have the following component
[code]

I'm expecting an object called _drawer_ in _this.context_ but this.context is an empty object.

But when I do the following (which I thought is just the equivalent of using decorators) it works:

[code]

I'm using the late